<div class="plBtnListContainer" #scrollContainer>
    <div class="scrollContainer">

        <app-context-menu *ngFor="let pl of playlistsList; let i = index; trackBy: trackByFn;">

            <div content>
                <button
                    [id]="pl.id"
                    class="sidenavBtn btnHover dropZone"
                    [class.activ]="appState.selectedTab === 4 && pl.id === onSelectPL"
                    [dragula]="'videolistBag'"
                    [attr.data-acceptdrop]="true"
                    [attr.data-hideshadow]="true"
                    [attr.data-plid]="pl.id"
                    (click)="selectPlaylist(pl)">
                    <fa class="sidenavBtnIco" [name]="'folder-open-o'" [size]="1"></fa>
                    <span class="sidenavBtnLabel noOverflow">{{ pl.title }}</span>
                </button>
            </div>

            <div menu>
                <app-playlist-control [playlist]="pl" [show]="true"></app-playlist-control>
            </div>

        </app-context-menu>

    </div>
</div>