<!-- Edit playlist container -->
<div class="eplContainer">

    <!-- Left playlist (editable playlist) -->
    <div class="eplBoxLeft eplBox">

        <!-- Header -->
        <div class="eplHeader">
            <app-playlist-header [playlist]="playlist"></app-playlist-header>
        </div>

        <!-- Playlist -->
        <div class="eplContent" #autoscrollLeft >
        <div *ngIf="playlist" class="playlist" [dragula]="'drag-drop-list'" [dragulaModel]="playlist.videolist" [attr.data-accept-drop]="true">

            <!-- Drop hint -->
            <div *ngIf="playlist.videolist.length < 1" id="dropInfos" class="dropInfos" [attr.data-movable]="false">
            Drag and drop item here &#8595;
            </div>
            
            <li *ngFor="let video of playlist.videolist" class="videoItem" [attr.data-id]="video.id" [attr.data-movable]="true" >
                
                <!-- Playlist item base -->
                <app-playlist-item class="videoInfos" [video]="video"></app-playlist-item>


                <!-- Only delete btn Edit panel -->
                <div *ngIf="type === 'edit'" class="videoControl">
                    <!-- Delete video button -->
                    <button mdTooltip="Delete video!" [mdTooltipPosition]="'above'" md-mini-fab color="warn" (click)="deleteVideo(video.id)" class="deleteBtn">
                        <fa [name]="'trash'" [size]="2"></fa>
                    </button>
                </div>


                <!-- All btn Player control -->
                <div *ngIf="type === 'player'" class="mix-videoControl">
                    <!-- Play at right button -->
                    <button mdTooltip="Play at right !" [mdTooltipPosition]="'above'" md-mini-fab color="primary" (click)="playVideo(video, 'right')" class="rightBtn mix-btn">
                    <fa [name]="'play'" [size]="2" ></fa>
                    </button>
                    
                    <!-- Delete video button -->
                    <button mdTooltip="Delete video!" [mdTooltipPosition]="'above'"  md-mini-fab color="warn" (click)="deleteVideo(video.id)" class="mix-btn">
                    <fa [name]="'trash'" [size]="2"></fa>
                    </button>
                    
                    <!-- Play at left button -->
                    <button mdTooltip="Play at left !" [mdTooltipPosition]="'above'" md-mini-fab color="primary" (click)="playVideo(video, 'left')" class="leftBtn mix-btn">
                    <fa [name]="'play'" [size]="2" [rotate]="180" ></fa>
                    </button>
                </div>
            </li>
        </div>
        </div>

    </div>

    <!-- Right playlist (search result) -->
    <div class="eplBoxRight eplBox">
        
        <!-- Header (Search bar) -->
        <div class="eplHeader">
            <app-search-bar></app-search-bar>
        </div>

        <!-- Playlist (Search results) -->
        <div class="eplContent" #autoscrollRight>
            <div *ngIf="searchResultsList" class="playlist" [dragula]="'drag-drop-list'" [dragulaModel]="searchResultsList" [attr.data-accept-drop]="false">
                
                <li *ngFor="let video of searchResultsList" class="videoItem" [attr.data-id]="video.id" [attr.data-movable]="true" >
                <app-playlist-item class="videoInfos" [video]="video"></app-playlist-item>
                </li>
            
            </div>
        </div>

    </div>
</div>
