/* General */
.eplContainer {
    height: calc(100% - 5px);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* Playlist box */
.eplBox {
    width: calc(50%);
}

.eplBoxLeft {
    margin-right: 2.5px;
}

.eplBoxRight {
    margin-left: 2.5px;
}

/* Header */
.eplHeader {
    height: 34px;
    min-height: 34px;
    margin-bottom: 5px;
}

/* Content playlist */
.eplContent {
    height: calc(100% - 39px);
    background-color: gray;
}
