/* General */
.editPlaylistContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* Playlist box */
.editPlaylistBox { width: calc(50%); }
.editPlaylistBoxLeft { margin-right: 2.5px; }
.editPlaylistBoxRight { margin-left: 2.5px; }

/* Header */
.editPlaylistHeader {
    height: 34px;
    min-height: 34px;
    margin-bottom: 5px;
}

/* Content playlist */
.editPlaylistContent {
    height: calc(100% - 39px);
    background-color: gray;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Playlist items */
.playlist { height: 100%; }

.videoItem {
    width: 100%;
    background-color: #242320;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.videoItem:not(:last-child) { margin-bottom: 2px; }

/* Playlist items controls */
.videoControl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.videoInfos {
    width: 100%;
    margin: 2px;
}

.deleteBtn {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    top: 25px;
    float: right;
}

.mix-btn {
    text-align: center;
    margin-right: 10px;
    top: 25px;
    float: right;
}

.leftBtn { padding-right: 6px; margin-left: 10px; }
.rightBtn { padding-left: 6px; }

/* Drop infos */
.dropInfos {
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    opacity: 0.4;
    color: black;
    border: 5px dashed black;
    padding: 20px;
    height: calc(100% - 50px);
}

#playlistLoginBtn {
    font-size: 1.2rem;
    line-height: 39px;
    background-color: darkgray
}















/* Header */
#headerContainer {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

#headerBox {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end
}

.headerItem {
    line-height: 24px;
    padding: 5px 5px 5px 10px;
    background-color: #242320;
    margin-right: 5px;
    white-space: nowrap;
}
.changePlaylistBtn {
    min-width: 112px;
    text-align: center;
}
.headerItem:last-child { margin-right: 0; }
#headerPlaylistTitle { flex: 1 1 auto; }

.headerItem input[type='button'] {
    color: darkgray;
    padding: 5px;
    margin: 0;
    border: none;
    outline: none;
    height: 100%;
    font-size: 1rem;
    background-color: #101010;
    cursor: pointer;
}

#infoBarBtnPlaylist input,
#infoBarBtnHistoric input {
    background-color: transparent;
    padding: 0;
    color: #b2b2b2;
}

#infoBarBtnPlaylist input:hover ,
#infoBarBtnHistoric input:hover  {
    color: #25E1DA;
}

/* Output box */
.output {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
	border: 2px solid #101010;
	border-radius: 5px;
	color: #25E1DA;
	background-color: #504F4C;
	text-shadow: 0px 0px 15px #25E1DA;
}

.noPlaylist {
    width: 100%;
    height: 34px;
    background-color: #242320;
    color: white;
}

.noPlaylistText {
    width: 100%;
    line-height: 34px;
    text-align: center;
    opacity: 0.3;
}