.sliderContainer {
	height: 200px;
    width: 34px;

	button { border-radius: 0; }

	.sliderBox {
		height: 34px;
		width: 200px;

		transform: rotate(270deg) translateX(-100%);
		transform-origin: top left;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		overflow: hidden;


		// RANGE SLIDER
		.slider {
			height: 100%;
    		width: 100%;

			input[type="range"] {
				margin: auto;
				-webkit-appearance: none;
				overflow: hidden;
				cursor: pointer !important;
				border-radius: 0;
				height: 34px;
				width: 100%;
				z-index: 0;
			}
		}


		// BUTTONS
		.grpBtn {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 175px;
			overflow: hidden;
			flex: 1;

			.btn {
				z-index: 2;
				width: 34px;
				height: 34px;
				padding: 0;

				button {
					color: black;
					background-color: #817E7E;
					cursor: pointer !important;
					border: none;
					outline: none;
					width: 34px;
					height: 34px;
					/*
					text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
					*/

					&:active {
						color: #25E1DA;
						text-shadow: 0px 0px 15px #25E1DA;
					}

					&:hover {
						color: #0f5e5b;
						/*background-color: #e5e5e5;*/
						/*background-color: #636363;*/
					}

					&:hover:active  {
						color: #25E1DA;
					}
				}
			}
		}
	}
}



// CUSTOM RANGE SLIDER
::-webkit-slider-runnable-track {
    background: #242320;;
}

// 1. Set to 0 height and width, and remove border for a slider without a thumb
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px; /* 1 */
    height: 34px; /* 1 */
    background: #fff;
    box-shadow: -100vw 0 0 100vw #504F4C;
}

::-moz-range-track {
    height: 34px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 34px;
    width: 12px;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #504F4C;
    box-sizing: border-box;
	border: none;
}

::-ms-fill-lower {
    background: #504F4C;
}

::-ms-thumb {
    background: #fff;
    height: 34px;
    width: 12px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 34px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

.fa-2x {
    line-height: 34px !important;
}
