<!--div class="megaLoader"><fa [name]="'spinner'" [size]="5"></fa></div-->

<div id="playerPanelContainer" class="contentPanel">
    <div class="playerContainer">

        <!-- Left Player -->
        <div class="playerWrapper" [class.fullSize]="!appState.multiPlayer">
            <app-player
                class="player playerRow"
                [side]="'left'"
                (playerReady)="savePlayerLeft($event)"
                (stateChange)="onStateChangeLeft($event)">
            </app-player>
            <app-player-control
                [side]="'left'"
                [player]="playerLeft"
                [playerState]="playerStateLeft"
                (nearEnd)="onNearEnd($event)">
            </app-player-control>
        </div>

        <!-- Crossfader -->
        <div class="centerPanelWrapper" [class.fullSize]="!appState.multiPlayer">

            <div class="controlBox playerRow">

                <!-- Left speed/volume control -->
                <div class="rangeSliderBox">
                    <app-range-slider
                        [name]="'speed_left'"
                        [step]="0.25"
                        [min]="0.5"
                        [max]="2"
                        [value]="playerStateLeft.speed"
                        (valueChange)="onSpeedChangeLeft($event)">
                    </app-range-slider>
                    <app-range-slider
                        [name]="'vol_left'"
                        [min]="0"
                        [max]="100"
                        [step]="1"
                        [value]="playerStateLeft.volume"
                        (valueChange)="onVolumeChangeLeft($event)">
                    </app-range-slider>
                </div>

                <div class="centerBox flexSpacer" *ngIf="appState.multiPlayer">
                    <div class="flexSpacer">
                    </div>

                    <!-- Crossfader -->
                    <div id="crossfaderBox" class="line-border" *ngIf="appState.multiPlayer">
                        <div class="hori-ticks">
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                        </div>
                        <!-- [disabled]="!videoLeft || !videoRight" -->
                        <input
                            id="crossfader"
                            class="crossfader horizontal"
                            type="range"
                            min="0"
                            max="100"
                            step="0.5"
                            list="tickmarks-center"
                            value="{{ crossFaderValue }}"
                            [(ngModel)]="crossFaderValue"
                            (ngModelChange)="onChangeCrossFaderValue($event)">
                    </div>
                </div>

                <!-- Right speed/volume control -->
                <div class="rangeSliderBox" *ngIf="appState.multiPlayer">
                    <app-range-slider [hidden]="!appState.multiPlayer"
                        [name]="'vol_right'"
                        [min]="0"
                        [max]="100"
                        [step]="1"
                        [value]="playerStateRight.volume"
                        (valueChange)="onVolumeChangeRight($event)">
                    </app-range-slider>
                    <app-range-slider [hidden]="!appState.multiPlayer"
                        [name]="'speed_right'"
                        [step]="0.25"
                        [min]="0.5"
                        [max]="2"
                        [value]="playerStateRight.speed"
                        (valueChange)="onSpeedChangeRight($event)">
                    </app-range-slider>
                </div>
            </div>

            <app-toolbar class="toolbarBox" [height]="'30px'">
                <div class="flexSpacer"></div>
                <!-- Random -->
                <button
                    *ngIf="true"
                    class="toolbarBtn playerBtn btnHover"
                    [class.enabledBtn]="playerPanelState.isRandom"
                    (click)="onRandom()">
                    <fa class="playerBarBtnIco" [name]="'random'" [size]="2"></fa>
                </button>

                <!-- Repeat -->
                <button
                    *ngIf="true"
                    class="toolbarBtn playerBtn btnHover"
                    [class.enabledBtn]="playerPanelState.isRepeat"
                    (click)="onRepeat()">
                    <fa class="playerBarBtnIco" [name]="'retweet'" [size]="2"></fa>
                </button>
                <div class="flexSpacer"></div>
            </app-toolbar>

        </div>


        <!-- Player right -->
        <div class="playerWrapper" [hidden]="!appState.multiPlayer"
            [style.height]="!appState.multiPlayer ? '0' : ''"
            [style.width]="!appState.multiPlayer ? '0' : ''">
        <app-player [hidden]="!appState.multiPlayer"
                class="player playerRow"
                [side]="'right'"
                (playerReady)="savePlayerRight($event)"
                (stateChange)="onStateChangeRight($event)">
            </app-player>
            <app-player-control
                [side]="'right'"
                [player]="playerRight"
                [playerState]="playerStateRight"
                (nearEnd)="onNearEnd($event)"
                [hidden]="!appState.multiPlayer">
            </app-player-control>
        </div>
    </div>


    <!-- Toolbars -->
    <div class="plContainer">
        <div class="plPlayerToolbar">

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'">
                <button
                    class="toolbarBtn textBtn btnHover"
                    (click)="onDisplayPl = 'playlist'"
                    [class.activeUnderLine]="onDisplayPl === 'playlist'">
                    <span  [translate]="'pl'"></span>
                </button>
                <button
                    class="toolbarBtn textBtn btnHover"
                    (click)="onDisplayPl = 'historic'"
                    [class.activeUnderLine]="onDisplayPl === 'historic'">
                    <span  [translate]="'historic'"></span>
                </button>
            </app-toolbar>

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'" [padding]="'0 10px 0 10px'">
                <div *ngIf="playerPanelState.playlist" class="length noOverflow">{{ playerPanelState.playlist.length }} <span [translate]="'track'"></span><span *ngIf="playerPanelState.playlist.length >1">s</span></div>
                <div *ngIf="playerPanelState.playlist" class="duration noOverflow">{{ playerPanelState.playlist | totalduration: 'test' | duration }}</div>
            </app-toolbar>

            <!-- Toggle single/multi player
                <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'">
                    <button class="toolbarBtn textBtn btnHover" (click)="appState.multiPlayer = !appState.multiPlayer">Full Size</button>
                </app-toolbar>
            -->

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'">
                <button class="toolbarBtn textBtn btnHover" (click)="setFulscreenPlayer()">
                    <mat-icon svgIcon="fullscreen"></mat-icon>
                </button>
            </app-toolbar>
        </div>


        <!-- Onplay list -->
        <div [hidden]="onDisplayPl !== 'playlist'"
            class="scrollContainer plPlayerList"
            #playerListScrollContainer >

            <app-video-list
                [dragBagName]="'playerListBag'"
                [useDragModel]="true"
                [draggable]="true"
                [videoList]="playerPanelState.playlist"
                [displayType]="'list'"
                [attrFrom]="'onplay'"
                [showShadow]="true">

                <!-- Item control buttons -->
                <ng-template #itemControl let-video="video" let-index="index">
                    <button class="toolbarBtn btnHover" (click)="playVideo(video, index)">
                        <fa [name]="'play'" [size]="2"></fa>
                    </button>

                    <button *ngIf="playerPanelState.playlist.length > 1" class="toolbarBtn btnHover"
                        [matMenuTriggerFor]="menu" xPosition="'before'" yPosition="'above'">
                        <fa [name]="'sort'" [size]="2"></fa>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="inlineBtn">
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="moveToTop(index)"
                                [disabled]="index === 0"
                                [class.disabled]="index === 0">
                                <fa [name]="'angle-double-up'" [size]="2"></fa>
                            </button>
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="up(index)"
                                [disabled]="i === 0"
                                [class.disabled]="index === 0">
                                <fa [name]="'angle-up'" [size]="2"></fa>
                            </button>
                        </div>
                        <div class="inlineBtn">
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="down(index)"
                                [disabled]="index === (playerPanelState.playlist.length - 1)"
                                [class.disabled]="index === (playerPanelState.playlist.length - 1)">
                                <fa [name]="'angle-down'" [size]="2"></fa>
                            </button>
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="moveToBottom(index)"
                                [disabled]="index === (playerPanelState.playlist.length - 1)"
                                [class.disabled]="index === (playerPanelState.playlist.length - 1)">
                                <fa [name]="'angle-double-down'" [size]="2"></fa>
                            </button>
                        </div>
                        </mat-menu>

                        <button class="toolbarBtn btnHover" (click)="deleteVideo(video, index)">
                            <fa [name]="'trash-o'" [size]="2"></fa>
                        </button>
                </ng-template>
            </app-video-list>
        </div>


        <!-- Historic list -->
        <div [hidden]="onDisplayPl !== 'historic'" class="scrollContainer plPlayerList" #plPlayerList >
            <app-video-list
                [videoList]="playerPanelState.historiclist"
                [displayType]="'list'"
                [draggable]="true"
                [dragBagName]="'searchResultsBag'"
                [attrCopy]="true"
                [attrAcceptDrop]="false"
                [attrFrom]="'historic'">
                <ng-template #itemControl let-video="video" let-index="index">
                </ng-template>
            </app-video-list>
        </div>

    </div>
</div>
