<!--div class="megaLoader"><fa [name]="'spinner'" [size]="5"></fa></div-->

<div id="playerPanelContainer" class="contentPanel">

    <div class="playerContainer">

        <!-- Player left -->
        <div class="playerWrapper" [class.fullSize]="!isDoublePlayer">
            <div class="playerRow">
                <app-player
                    class="player"
                    [side]="'left'"
                    (playerReady)="savePlayerLeft($event)"
                    (stateChange)="onStateChangeLeft($event)">
                </app-player>

                <!-- Speed left -->
                <app-range-slider
                    [name]="'speed_left'"
                    [step]="0.25"
                    [min]="0.5"
                    [max]="2"
                    [value]="playerStateLeft.speed"
                    (onValueChange)="onSpeedChangeLeft($event)">
                </app-range-slider>

                <!-- Volume left -->
                <app-range-slider
                    [name]="'vol_left'"
                    [min]="0"
                    [max]="100"
                    [step]="1"
                    [value]="playerStateLeft.volume"
                    (onValueChange)="onVolumeChangeLeft($event)">
                </app-range-slider>
            </div>

            <!-- Player toolbar left -->
            <app-player-control
                [side]="'left'"
                [player]="playerLeft"
                [playerState]="playerStateLeft"></app-player-control>
        </div>

        <!-- Crossfader -->
        <div class="controlWrapper flexSpacer" [hidden]="!isDoublePlayer">
            <div class="controlBox flexSpacer">
                <button class=" toolbarBtn playerBtn btnHover">
                    <fa [name]="'expand'" [size]="2"></fa>
                </button>

                <button class="toolbarBtn playerBtn btnHover">
                    <fa [name]="'arrows-alt'" [size]="2"></fa>
                </button>
            </div>

            <div class="toolbarBox">
                <app-toolbar [width]="'100%'" [height]="'34px'">

                    <button class="toolbarBtn playerBtn btnHover">
                        <fa [name]="'arrows-alt'" [size]="2"></fa>
                    </button>

                    <button class=" btnHover">
                        <h2>next</h2>

                    </button>

                </app-toolbar>
            </div>
        </div>

        <!-- Player right -->
        <div class="playerWrapper" [hidden]="!isDoublePlayer" [style.width]="!isDoublePlayer ? '0' : ''">
            <div class="playerRow">

                <!-- Volume right -->
                <app-range-slider [hidden]="!isDoublePlayer"
                    [name]="'vol_right'"
                    [min]="0"
                    [max]="100"
                    [step]="1"
                    [value]="playerStateRight.volume"
                    (onValueChange)="onVolumeChangeRight($event)">
                </app-range-slider>

                <!-- Speed right -->
                <app-range-slider [hidden]="!isDoublePlayer"
                    [name]="'speed_right'"
                    [step]="0.25"
                    [min]="0.5"
                    [max]="2"
                    [value]="playerStateRight.speed"
                    (onValueChange)="onSpeedChangeRight($event)">
                </app-range-slider>

                <!-- Player left -->
                <app-player [hidden]="!isDoublePlayer"
                    class="player"
                    [side]="'right'"
                    (playerReady)="savePlayerRight($event)"
                    (stateChange)="onStateChangeRight($event)">
                </app-player>
            </div>

            <!-- Player toolbar right -->
            <app-player-control
                [side]="'left'"
                [player]="playerRight"
                [playerState]="playerStateRight"
                [hidden]="!isDoublePlayer"></app-player-control>
        </div>



<!--
        <div id="controlBox">
            <div id="controlBtnBox">

                <!-- Random playlist button --
                <button class="randomBtn" [class.activRandom]="isRandom" (click)="setIsRandom()">
                <fa aria-label="Edit playlist" [name]="'random'" [size]="2"></fa>
                </button>

                <span> isRandom: {{ isRandom }}</span>

                <!-- Crossfader --
                <div id="crossfaderBox" class="line-border">
                    <div class="hori-ticks">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                    <input
                    class="crossfader horizontal" type="range"
                        [disabled]="!videoLeft || !videoRight"
                        min="0"
                        max="100"
                        step="0.5"
                        list="tickmarks-center"
                        value="{{ crossFaderValue }}"
                        [(ngModel)]="crossFaderValue"
                        (ngModelChange)="onChangeCrossFaderValue($event)">
                </div>
            </div>
        </div>

        -->
    </div>
    <button (click)="isDoublePlayer = !isDoublePlayer" style="z-index: 100; background-color: green; padding: 15px; position: absolute;">Full Size</button>


    <!-- Videos list -->
    <div class="plContainer">
        <div class="plPlayerToolbar">

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'" [padding]="'0 10px 0 10px'">
                <button (click)="onDisplayPl = 'playlist'">
                    Playlist
                </button>
                <button (click)="onDisplayPl = 'historic'">
                    Historic
                </button>
            </app-toolbar>

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'" [padding]="'0 10px 0 10px'">
                <div *ngIf="playerPanelState.playlist" class="length noOverflow">{{ playerPanelState.playlist?.length }} track<span *ngIf="playerPanelState.playlist.length >1">s</span></div>
                <div *ngIf="playerPanelState.playlist" class="duration noOverflow">{{ playerPanelState.playlist | totalduration | duration }}</div>
            </app-toolbar>
        </div>

        <div [hidden]="onDisplayPl !== 'playlist'"
            class="scrollContainer plPlayerList"
            #playerListScrollContainer >

            <!-- Video list
                 [dragulaModel]="onPlayList"

                 <div *ngFor="let video of onPlayList; let i = index;" style="display: flex; flex-direction: column;">
                     <div>{{ i }} - {{ video.title }}</div>
                 </div>
            -->


            <div class="appList plDetail"
                [dragula]="'playerListBag'"
                [dragulaModel]="playerPanelState.playlist"
                >

                <!-- Video list item -->
                <div *ngFor="let video of playerPanelState.playlist; let i = index;trackBy: trackByFn"
                    id="onPlayItem-{{ i }}"
                    class="appListItem"
                    [attr.data-from]="'onplay'"
                    [attr.data-video-id]="video.id"
                    [attr.data-index]="i">

                    <app-video-list-item
                        class="itemBg"
                        [video]="video"
                        [index]="i + 1"
                        [movable]="true"
                        [height]="'40px'"
                        >

                        <button *ngIf="playerPanelState.playlist.length > 1" class="toolbarBtn btnHover"
                            [matMenuTriggerFor]="menu" xPosition="'before'" yPosition="'above'">
                            <fa [name]="'sort'" [size]="2"></fa>
                        </button>
                        <mat-menu #menu="matMenu">
                            <!--
                            <button mat-menu-item>Play</button>
                            <button mat-menu-item>Add to queue</button>
                            -->
                            <div class="inlineBtn">
                                <button class="toolbarBtn iconMenuBtn btnHover"
                                    (click)="moveToTop(i)"
                                    [disabled]="i === 0"
                                    [class.disabled]="i === 0">
                                    <fa [name]="'angle-double-up'" [size]="2"></fa>
                                </button>
                                <button class="toolbarBtn iconMenuBtn btnHover"
                                    (click)="up(i)"
                                    [disabled]="i === 0"
                                    [class.disabled]="i === 0">
                                    <fa [name]="'angle-up'" [size]="2"></fa>
                                </button>
                            </div>

                            <div class="inlineBtn">
                                <button class="toolbarBtn iconMenuBtn btnHover"
                                    (click)="down(i)"
                                    [disabled]="i === (playerPanelState.playlist.length - 1)"
                                    [class.disabled]="i === (playerPanelState.playlist.length - 1)">
                                    <fa [name]="'angle-down'" [size]="2"></fa>
                                </button>
                                <button class="toolbarBtn iconMenuBtn btnHover"
                                    (click)="moveToBottom(i)"
                                    [disabled]="i === (playerPanelState.playlist.length - 1)"
                                    [class.disabled]="i === (playerPanelState.playlist.length - 1)">
                                    <fa [name]="'angle-double-down'" [size]="2"></fa>
                                </button>
                            </div>
                        </mat-menu>

                        <div class="video-list-item-buttons">
                            <button class="toolbarBtn btnHover" (click)="deleteVideo(video)">
                                <fa [name]="'trash-o'" [size]="2"></fa>
                            </button>
                        </div>
                    </app-video-list-item>
                </div>
            </div>
        </div>

        <div [hidden]="onDisplayPl !== 'historic'" class="scrollContainer plPlayerList" #plPlayerList >

                <!-- Video list -->
                <div class="appList plDetail">
                    <!-- Video list item -->
                    <div *ngFor="let video of playerPanelState.historiclist; let i = index"
                        class="appListItem">

                        <app-video-list-item [video]="video" [index]="i + 1" [movable]="false" class="itemBg">
                            <div class="video-list-item-buttons">
                                <button class="toolbarBtn btnHover" (click)="deleteVideo(video)">
                                    <fa [name]="'trash-o'" [size]="2"></fa>
                                </button>
                            </div>
                        </app-video-list-item>
                    </div>
                </div>
            </div>

    </div>
</div>
