<!--div class="megaLoader"><fa [name]="'spinner'" [size]="5"></fa></div-->

<div id="playerPanelContainer" class="contentPanel">
    <div class="playerContainer">

        <!-- Left Player -->
        <div class="playerWrapper" [class.fullSize]="!isDoublePlayer">
            <app-player
                class="player playerRow"
                [side]="'left'"
                (playerReady)="savePlayerLeft($event)"
                (stateChange)="onStateChangeLeft($event)">
            </app-player>
            <app-player-control
                [side]="'left'"
                [player]="playerLeft"
                [playerState]="playerStateLeft">
            </app-player-control>
        </div>

        <!-- Crossfader -->
        <div class="centerPanelWrapper" [class.fullSize]="!isDoublePlayer">

            <div class="controlBox playerRow">

                <!-- Left speed/volume control -->
                <div class="rangeSliderBox">
                    <app-range-slider
                        [name]="'speed_left'"
                        [step]="0.25"
                        [min]="0.5"
                        [max]="2"
                        [value]="playerStateLeft.speed"
                        (onValueChange)="onSpeedChangeLeft($event)">
                    </app-range-slider>
                    <app-range-slider
                        [name]="'vol_left'"
                        [min]="0"
                        [max]="100"
                        [step]="1"
                        [value]="playerStateLeft.volume"
                        (onValueChange)="onVolumeChangeLeft($event)">
                    </app-range-slider>
                </div>

                <div class="centerBox flexSpacer" *ngIf="isDoublePlayer">
                    <div class="flexSpacer">
                        <button class=" toolbarBtn playerBtn btnHover">
                            <fa [name]="'expand'" [size]="2"></fa>
                        </button>

                        <button class="toolbarBtn playerBtn btnHover">
                            <fa [name]="'arrows-alt'" [size]="2"></fa>
                        </button>
                    </div>

                    <!-- Crossfader -->
                    <div id="crossfaderBox" class="line-border" *ngIf="isDoublePlayer">
                        <div class="hori-ticks">
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                        </div>
                        <!-- [disabled]="!videoLeft || !videoRight" -->
                        <input
                            id="crossfader"
                            class="crossfader horizontal"
                            type="range"
                            min="0"
                            max="100"
                            step="0.5"
                            list="tickmarks-center"
                            value="{{ crossFaderValue }}"
                            [(ngModel)]="crossFaderValue"
                            (ngModelChange)="onChangeCrossFaderValue($event)">
                    </div>
                </div>

                <!-- Right speed/volume control -->
                <div class="rangeSliderBox" *ngIf="isDoublePlayer">
                    <app-range-slider [hidden]="!isDoublePlayer"
                        [name]="'vol_right'"
                        [min]="0"
                        [max]="100"
                        [step]="1"
                        [value]="playerStateRight.volume"
                        (onValueChange)="onVolumeChangeRight($event)">
                    </app-range-slider>
                    <app-range-slider [hidden]="!isDoublePlayer"
                        [name]="'speed_right'"
                        [step]="0.25"
                        [min]="0.5"
                        [max]="2"
                        [value]="playerStateRight.speed"
                        (onValueChange)="onSpeedChangeRight($event)">
                    </app-range-slider>
                </div>
            </div>

            <app-toolbar class="toolbarBox" [width]="'100%'" [height]="'30px'">
                <button class="toolbarBtn playerBtn btnHover">
                    <fa [name]="'arrows-alt'" [size]="2"></fa>
                </button>
                <button class=" btnHover">
                    <h2>next</h2>
                </button>
            </app-toolbar>
        </div>


        <!-- Player left -->
        <div class="playerWrapper" [hidden]="!isDoublePlayer" [style.width]="!isDoublePlayer ? '0' : ''">
            <app-player [hidden]="!isDoublePlayer"
                class="player playerRow"
                [side]="'right'"
                (playerReady)="savePlayerRight($event)"
                (stateChange)="onStateChangeRight($event)">
            </app-player>
            <app-player-control
                [side]="'left'"
                [player]="playerRight"
                [playerState]="playerStateRight"
                [hidden]="!isDoublePlayer">
            </app-player-control>
        </div>
    </div>


    <!-- Toolbars -->
    <div class="plContainer">
        <div class="plPlayerToolbar">

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'">
                <button
                    class="toolbarBtn textBtn btnHover"
                    (click)="onDisplayPl = 'playlist'"
                    [class.activeUnderLine]="onDisplayPl === 'playlist'">
                    Playlist
                </button>
                <button
                    class="toolbarBtn textBtn btnHover"
                    (click)="onDisplayPl = 'historic'"
                    [class.activeUnderLine]="onDisplayPl === 'historic'">
                    Historic
                </button>
            </app-toolbar>

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'" [padding]="'0 10px 0 10px'">
                <div *ngIf="playerPanelState.playlist" class="length noOverflow">{{ playerPanelState.playlist?.length }} track<span *ngIf="playerPanelState.playlist.length >1">s</span></div>
                <div *ngIf="playerPanelState.playlist" class="duration noOverflow">{{ playerPanelState.playlist | totalduration | duration }}</div>
            </app-toolbar>

            <app-toolbar [height]="'40px'" [margin]="'0 5px 0 0'">
                <button class="toolbarBtn textBtn btnHover" (click)="isDoublePlayer = !isDoublePlayer">Full Size</button>
            </app-toolbar>
        </div>



        <!-- Onplay list -->
        <div [hidden]="onDisplayPl !== 'playlist'"
            class="scrollContainer plPlayerList"
            #playerListScrollContainer >

            <app-video-list
                [dragBagName]="'playerListBag'"
                [useDragModel]="true"
                [draggable]="true"
                [videoList]="playerPanelState.playlist"
                [displayType]="'list'"
                [attrFrom]="'onplay'"
                [showShadow]="true">

                <!-- Item control buttons -->
                <ng-template #itemControl let-video="video" let-index="index">
                    <button class="toolbarBtn btnHover" (click)="playVideo(video, index)">
                        <fa [name]="'play'" [size]="2"></fa>
                    </button>

                    <button *ngIf="playerPanelState.playlist.length > 1" class="toolbarBtn btnHover"
                        [matMenuTriggerFor]="menu" xPosition="'before'" yPosition="'above'">
                        <fa [name]="'sort'" [size]="2"></fa>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="inlineBtn">
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="moveToTop(index)"
                                [disabled]="index === 0"
                                [class.disabled]="index === 0">
                                <fa [name]="'angle-double-up'" [size]="2"></fa>
                            </button>
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="up(index)"
                                [disabled]="i === 0"
                                [class.disabled]="index === 0">
                                <fa [name]="'angle-up'" [size]="2"></fa>
                            </button>
                        </div>
                        <div class="inlineBtn">
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="down(index)"
                                [disabled]="index === (playerPanelState.playlist.length - 1)"
                                [class.disabled]="index === (playerPanelState.playlist.length - 1)">
                                <fa [name]="'angle-down'" [size]="2"></fa>
                            </button>
                            <button class="toolbarBtn iconMenuBtn btnHover"
                                (click)="moveToBottom(index)"
                                [disabled]="index === (playerPanelState.playlist.length - 1)"
                                [class.disabled]="index === (playerPanelState.playlist.length - 1)">
                                <fa [name]="'angle-double-down'" [size]="2"></fa>
                            </button>
                        </div>
                        </mat-menu>

                        <button class="toolbarBtn btnHover" (click)="deleteVideo(video, index)">
                            <fa [name]="'trash-o'" [size]="2"></fa>
                        </button>
                </ng-template>
            </app-video-list>
        </div>


        <!-- Historic list -->
        <div [hidden]="onDisplayPl !== 'historic'" class="scrollContainer plPlayerList" #plPlayerList >
            <app-video-list
                [videoList]="playerPanelState.historiclist"
                [displayType]="'list'">
                <ng-template #itemControl let-video="video" let-index="index">
                </ng-template>
            </app-video-list>
        </div>

    </div>
</div>
