<div>
    <h2 mat-dialog-title>
        <fa [name]="'question-circle'" [size]="1"></fa>
        Help/Infos
    </h2>
    <mat-dialog-content>

        <!-- Tabs navigation -->
        <div class="tabsNavBox">
            <button mat-button *ngFor="let tab of tabsList.helpContent"
                class="tabsNavItem" [class.active]="selectedTab === tab.index" (click)="openTab(tab.index)">
            {{ tab.label }}
            </button>
        </div>

        <!-- Tabs content -->
        <div class="tabsBox" *ngFor="let tab of tabsList.helpContent">
            <div [hidden]="selectedTab !== tab.index" class="tabsItem">
                <div class="tabsItemList">
                <ul>
                    <li *ngFor="let tip of tab.content">{{ tip }}</li>
                </ul>
                </div>
                <img src="{{ tab.imgUrl }}" alt="Image of {{ tab.label }}">
            </div>
        </div>

    </mat-dialog-content>

    <!-- Controls -->
    <mat-dialog-actions>

        <!-- Previous tab button -->
        <button mat-button class="prevBtn" (click)="onPreviousTab()" [disabled]="selectedTab === 1">
            <fa [name]="'arrow-left'" [size]="1"></fa>
            <span>Previous</span>
        </button>

        <!-- Close help -->
        <button mat-button (click)="onClose()">
            <fa [name]="'close'" [size]="1"></fa>
            Close
        </button>

        <!-- Next tab button  -->
        <button mat-button class="nextBtn" (click)="onNextTab()" [disabled]="selectedTab === tabsList.length">
            <span>Next</span>
            <fa [name]="'arrow-right'" [size]="1"></fa>
        </button>

    </mat-dialog-actions>
</div>
