<!--div class="megaLoader"><fa [name]="'spinner'" [size]="5"></fa></div-->

<div id="appContainer">

    <div id="firstRow">
        <app-video-player #left [video]="videoLeft" [sidePlayer]="'left'" (nearEnd)="triggerMixLTR($event)"
        [volume]="volLeft" [speed]="speedLeft" (volumeChange)="volLeft" (speedChange)="speedLeft"></app-video-player>
        
        <div id="controlBox">
            <!-- Crossfader -->
            <div id="crossfader-box" class="line-border">
                <div class="hori-ticks">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
                <input class="crossfader horizontal" type="range" value="50" min="0" max="100" step="0.1" list="tickmarks-center">
            </div>
        </div>
        
        <app-video-player #right [video]="videoRight" [sidePlayer]="'right'" (nearEnd)="triggerMixRTL($event)"
        [volume]="volRight" [speed]="speedRight" (volumeChange)="volRight" (speedChange)="speedRight"></app-video-player>
    </div>

    <!-- On play playlist and search playlist -->
    <div id="appVideoList">
    <div class="doublePlaylistContainer plListContainer">
        <!-- On edit playlist -->
        <div class="playlistContainer">
            <div *ngIf="onPlayPlaylist" class="header title playlistContainerItem">{{ onPlayPlaylist.title }}</div>
            <div *ngIf="onPlayPlaylist" class="content playlistContainerItem"><app-playlist [(videolist)]="onPlayPlaylist.videolist" [acceptDrop]="true" [isOnPlay]="true"></app-playlist></div>
        </div>

        <!-- Search result playlist -->
        <div class="playlistContainer">
            <div class="header playlistContainerItem"><app-search-bar></app-search-bar></div>
            <div *ngIf="searchResultPlaylist" class="content playlistContainerItem"><app-playlist [(videolist)]="searchResultPlaylist" [acceptDrop]="false" [isOnPlay]="false"></app-playlist></div>
        </div>
    </div>
    </div>

</div>
