<div class="loginContainer">

    <div class="loginBox">




        <!-- Online status 
        <div id="onlineBox">
        <div *ngIf="isOnline" class="onlineBtn green">Online</div>
        <div *ngIf="!isOnline" class="onlineBtn red">Offline</div>
        </div>
        -->


        <div id="signContainer">
            <!-- User name and thumbnail -->
            <div *ngIf="user"class="userInfos">
                <img src="{{ user.img }}" alt="">
                <span>{{ user.name }}</span>
            </div>

            <!-- Login btn -->
            <button *ngIf="!user" md-button (click)="login()" class="signBtn">
            <fa aria-label="Login" [name]="'sign-in'" [size]="1"></fa>
            <span>Login</span>
            </button>
            
            <!-- Logout btn -->
            <button *ngIf="user" md-button (click)="logout()">
            <fa aria-label="Logout" [name]="'sign-out'" [size]="1"></fa>
            <span>Logout</span>
            </button>
        </div>

        <!-- Help button -->
        <div class="helpBtnBox">
        <button id="helpBtn" (click)="openHelp()" class="">
        <fa aria-label="Help" [name]="'question'" [size]="1"></fa>
        </button>
        </div>
    </div>
</div>
