<div id="settingsContainer" class="tabContentCpnt">

    <div class="tabNav">
        <button class="tabBtn" (click)="selTabSetting = 1" [class.activ]="selTabSetting === 1">General</button>
        <button class="tabBtn" (click)="selTabSetting = 2" [class.activ]="selTabSetting === 2">Player</button>
        <button class="tabBtn" (click)="selTabSetting = 3" [class.activ]="selTabSetting === 3">Back up</button>
    </div>


    <div class="tabContainer">

        <!-- General Setting -->
        <div *ngIf="selTabSetting === 1" class="tabContent">

            <div class="tabItem">
                <mat-form-field>
                    <mat-select [panelClass]="'theme-' + appState.theme" placeholder="Langage"
                        [(ngModel)]="appState.langage"
                        (ngModelChange)="onLangageChange($event)">
                        <mat-option *ngFor="let langage of langagesList" [value]="langage.value">{{langage.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="flagIcon" *ngIf="appState.langage">
                    <img [src]="'assets/icons/' + appState.langage + '-flag.png'" alt="">
                </span>
            </div>

            <div class="tabItem">
                <mat-form-field>
                    <mat-select [panelClass]="'theme-' + appState.theme" placeholder="Theme"
                        [(ngModel)]="appState.theme"
                        (change)="onThemeChange($event)">
                        <mat-option *ngFor="let theme of themesList" [value]="theme">{{theme}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="flagIcon" *ngIf="appState.theme">
                    <fa *ngIf="appState.theme === 'light'" [name]="'sun-o'"  [size]="2"></fa>
                    <fa *ngIf="appState.theme === 'dark'"  [name]="'moon-o'" [size]="2"></fa>
                </span>
            </div>
        </div>

        <!-- Player Setting -->
        <div *ngIf="selTabSetting === 2" class="tabContent">

            <label [translate]="'disabledCS'"></label>

            <div class="tabItemCol">
                <label [translate]="'nbrOfPlayer'"></label>
                <mat-radio-group class="radioBtn" [(ngModel)]="appState.multiPlayer" (change)="onMultiPlayerChange($event)" disabled>
                    <mat-radio-button [value]="false" color="warn"  [translate]="'single'"></mat-radio-button>
                    <mat-radio-button [value]="true"  color="warn"  [translate]="'double'"></mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <!-- backup Setting -->
        <div *ngIf="selTabSetting === 3" class="tabContent">

            <label [translate]="'disabledCS'"></label>

            <div class="tabItem tabRow">
                <label class="tabRowLabel" [translate]="'exportPl'"></label>
                <button class="tabContentBtn" mat-raised-button disabled>
                <mat-icon svgIcon="database-export"></mat-icon>
                </button>
            </div>

            <div class="tabItem tabRow">
                <label class="tabRowLabel" [translate]="'importPl'"></label>
                <button class="tabContentBtn" mat-raised-button disabled>
                <mat-icon svgIcon="database-import"></mat-icon>
                </button>
            </div>

            <div class="tabItem tabRow">
                <label class="tabRowLabel" [translate]="'removeLocalPl'"></label>
                <button class="tabContentBtn" mat-raised-button (click)="removeLocalPlaylist()" disabled>
                <mat-icon svgIcon="delete-sweep"></mat-icon>
                </button>
            </div>

        </div>

    </div>

<!--
<form>

    <fieldset class="settingGeneral">
        <legend>General</legend>
        Work in progress...

        <mat-select placeholder="Langage" [(ngModel)]="selectedLangage" name="food" disabled>
        <mat-option *ngFor="let langage of langagesList" [value]="langage.value">
        {{langage.viewValue}}
        </mat-option>
        </mat-select>

        <mat-select placeholder="Theme" [(ngModel)]="selectedTheme" name="food" disabled>
        <mat-option *ngFor="let theme of themesList" [value]="theme">
        {{theme}}
        </mat-option>
        </mat-select>
    </fieldset>

    <fieldset>
        <legend>Playlists</legend>



    </fieldset>

    </form>
-->
</div>