<div class="settingsContainer">
    <form>

    <fieldset class="settingGeneral">
        <legend>General</legend>
        Work in progress...

        <mat-select placeholder="Langage" [(ngModel)]="selectedLangage" name="food" disabled>
        <mat-option *ngFor="let langage of langagesList" [value]="langage.value">
        {{langage.viewValue}}
        </mat-option>
        </mat-select>

        <mat-select placeholder="Theme" [(ngModel)]="selectedTheme" name="food" disabled>
        <mat-option *ngFor="let theme of themesList" [value]="theme">
        {{theme}}
        </mat-option>
        </mat-select>
    </fieldset>

    <fieldset>
        <legend>Playlists</legend>

        <div class="column">
            <div class="row">
            <button class="toolbarBtn" mat-raised-button disabled>
            <fa [name]="'external-link'" [size]="2"></fa>
            Export all playlist
            </button>
            </div>

            <div class="row">
            <button class="toolbarBtn" mat-raised-button (click)="removeLocalPlaylist()">
            <fa [name]="'trash'" [size]="2"></fa>
            Remove local playlist
            </button>
            </div>

        </div>

    </fieldset>

    </form>
</div>