@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSansOpenSans-Regular') format('svg');
}

* {
    font-family: 'Open sans'
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  height: 100%;
  overflow: hidden;
}

/* Custom Scroll bar */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background: #666; }
::-webkit-scrollbar-track { background: #ddd; }
::-webkit-scrollbar-button { background: #666; height: 15px; border-radius: 0 }

/* Remove outline */
button:focus {outline: none;}
input:focus { outline: none; }


/****************************

    Unglorious hack...

****************************/

/* Custom Font Awesome css */

.fa-2x { font-size: 23px !important; }
.toolbarBtn .fa-lg {
    vertical-align: -10% !important;
    margin-right: 5px !important;
}

/* Custom material css */

mat-progress-bar {
    z-index: 99999;
}

// Tabs nav header
.mat-tab-group { height: 100%; }
.mat-tab-header,
.mat-tab-nav-bar { border-bottom: 10px solid #f5f5f5 !important; }
.mat-tab-body-wrapper { height: 100%; }
.mat-tab-body { height: 100%; }
.mat-tab-label { height: 32px !important; min-width: 100px !important; }
.mat-tab-body { padding: 5px; }
.mat-tab-body-content { //height: auto !important;
}
.mat-tab-label-active {
    background-color: #f5f5f5 !important;
    opacity: 1 !important;
}
.mat-ink-bar {
    background-color: #f5f5f5 !important;
}


// Grid tile
.mat-grid-tile .mat-figure {
    display: block !important;
}

// Dialog button
.decline {
    background-color: green !important;
    color: white !important;
}
.accept {
    background-color: red !important;
    color: white !important;
}

// Radio buttons
.radioBtnGrp {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radioBtn { margin: 5px; }

// Filter playlist location
.labelVisible { margin-top: 20px !important; }
.filterLocation .mat-radio-button { margin-right: 10px !important; }

// Input search filter
#inputFilter.mat-input-element {
    width: auto !important;
    padding: 2px !important;
    background: white !important;
    margin-top: 0 !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
}
#inputFilter.mat-input-element::placeholder { color: gray !important; }
#inputFilter:disabled { background-color: lightgray !important; }
#inputFilter.mat-input-element::-moz-placeholder { color: gray !important; }
#inputFilter.mat-input-element::placeholder { color: gray !important; }
#inputFilter.mat-input-element::placeholder { color: gray !important; }

// Progress bar
.mat-progress-bar {
    position: fixed;
    z-index: 999999;
}
.mat-progress-bar-buffer {
    background-color: transparent !important;
}

.local:not(.mat-radio-disabled) {
    color: #448aff !important;
    .mat-radio-outer-circle { border-color: #448aff !important; }
}

// Local / notlocal playlist color radio button filter
.notlocal:not(.mat-radio-disabled) {
    color: #cc181e !important;
    .mat-radio-outer-circle { border-color: #cc181e !important; }
    .mat-radio-inner-circle { background-color: #cc181e !important; }
    &.mat-radio-checked {
        color: #cc181e !important;
        .mat-radio-outer-circle { border-color: #cc181e !important; }
        .mat-radio-inner-circle { background-color: #cc181e !important; }
    }
}


