@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'themes';

/****************************

    Fonts

****************************/
@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
    url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSansOpenSans-Regular') format('svg');
}


/****************************

    Reset & co

****************************/
*:not(.mat-dialog-container) {
    font-family: 'Open sans';
    box-sizing: border-box;
    outline: none;
    &:not(input) { user-select: none; }
    @include themify($themes) {
        color: themed('primaryFont') !important;
    }
}

html,
body {
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

input,
select {
  vertical-align: middle;
}

input,
select,
textarea {
    border: 0;
    margin: 0;
}

button,
input[type='button'],
input[type='submit'] {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    &:focus { outline: none;}
}


/****************************

    Custom global

****************************/

// Custom Scroll bar
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb {
    @include themify($themes) {
        background: themed('scrollBtn');
    }
}
::-webkit-scrollbar-track {
    @include themify($themes) {
        background: themed('scrollTrack');
    }
}
::-webkit-scrollbar-button {
    height: 15px;
    border-radius: 0;
    @include themify($themes) {
        background: themed('scrollBtn');
    }
}

// Tab content
.contentPanel {
    width: 100%;
    height: 100%;
    .scrollContainer {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

// Video list
.appList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .appListItem {
        .itemBg {
            height: 100px;
            display: flex;
            flex-direction: row;
            cursor: default !important;
            @include themify($themes) {
                color: themed('primaryFont') !important;
            }
            @include themify($themes) {
                background-color: themed('secondary');
            }
        }
    }
    .appListItem:not(:last-child) {
        margin-bottom: 16px;
    }

    .duration {
        @include themify($themes) {
            border: 1px solid themed('primaryFont');
            // background-color: themed('darkestBg') !important;
        }
    }
    .loadLine {
        // margin-bottom: 16px;
        @include themify($themes) {
            background-color: themed('primary') !important;
        }
    }
}

// Flex box spacer
.flexSpacer { flex: 1 1 auto; }

// Custom button
.btnHover:hover {
    @include themify($themes) {
        background-color: themed('btnHover');
    }
}
.btnHovered {
    @include themify($themes) {
        background-color: themed('btnHover');
    }
}

.activ {
    @include themify($themes) {
        background-color: themed('btnActiv');
    }
}

.disabled {
    color: green !important;
    &:hover {
        background-color: transparent !important;
    }
}

.returnBtn {
    &.disabled {
        cursor: default;
        i.fa.fa-angle-left.fa-5x {
            @include themify($themes) {
                color: themed('primaryFontDisabled') !important;
            }
        }
    }
    i.fa.fa-angle-left.fa-5x {
        height: 44px !important;
        margin-top: -7px!important;
    }
}

/****************************

    Drag and Drop

****************************/

// Hide shadow aid item on over drop container
.hiddenShadow {
    &.gu-transit {
        display: none !important;
    }
}

// Over effect on over drop container
.btnHoveredDrop {
    border: 2px dashed black;
    @include themify($themes) {
        background-color: themed('btnHover');
    }
}

// Dragged video list item
.appListItem {
    &.gu-mirror {
        cursor: grabbing;
        .itemBg {
            border: 2px dashed black;
            height: 40px !important;
            display: flex;
            flex-direction: row;
            width: 300px !important;

            @include themify($themes) {
                background-color: themed('secondary');
            }
            div.handle {
                padding: 3px 6px 3px 5px;
                display: inline-flex;
                align-items: center;
            }
            .srThumb img {
                height: 36px !important;
            }
            .srTitle {
                font-size: 0.8rem !important;
                overflow: hidden;
                height: 40px;
                text-overflow: ellipsis;
                word-break: break-word;
            }
            .srDesc, .duration, .srBtn {
                display: none;
            }
        }
    }
}

/****************************

    Unglorious hack...

****************************/

.mat-menu-content {
    display: flex;
    flex-direction: column;

    .menuItem {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 5px 10px 5px 0;

        .menuItemIco {
            margin-left: 10px;
            margin-right: 10px;
            min-width: 40px;
            align-self: center;
        }
        .menuItemLabel {
            font-size: 1.2rem;
            text-overflow: ellipsis;
            overflow: hidden;
            align-self: center;
        }
    }
}

/*
.cdk-overlay-container {

    .appContainer {
        // Panel list
        .mat-expansion-panel {
            box-shadow: none;
            @include themify($themes) {
                background-color: themed('primary');
            }
            .mat-expansion-panel-header {
                height: 40px !important;
                font-size: 0.8rem !important;
            }
        }
    }


    .mat-menu-panel {
        @include themify($themes) {
            background-color: themed('secondary') !important;
        }
    }

    .theme-dark *.mat-dialog-container {
        background-color: map-get(map-get($themes, 'dark'), 'primary');
        color: map-get(map-get($themes, 'dark'), 'primaryFont');
        .mat-dialog-content {
            display: unset !important;
        }
    }

    .theme-light *.mat-dialog-container {
        background-color: map-get(map-get($themes, 'light'), 'primary');
        color: map-get(map-get($themes, 'light'), 'primaryFont');
        .mat-dialog-content {
            display: unset !important;
        }
    }

    .mat-select-content {
        @include themify($themes) {
            background-color: themed('secondary') !important;
        }
    }

    .theme-dark *.mat-select-content {
        background-color:  map-get(map-get($themes, 'dark'), 'secondary') !important;
        background:  map-get(map-get($themes, 'dark'), 'secondary') !important;
    }
    .theme-light *.mat-select-content {
        background-color:  map-get(map-get($themes, 'light'), 'secondary') !important;
        background:  map-get(map-get($themes, 'light'), 'secondary') !important;
    }
}

.mat-button-toggle-group {
    box-shadow: none !important;
    .mat-button-toggle:hover {
        @include themify($themes) {
            background-color: themed('btnHover') !important;
        }
    }
    .mat-button-toggle-checked {
        @include themify($themes) {
            background-color: themed('btnActiv') !important;
        }
    }
}

.mat-progress-spinner circle, .mat-spinner circle {
    @include themify($themes) {
        stroke: themed('accent') !important;
    }
}

.mat-form-field-underline {
    @include themify($themes) {
        background: themed('grayLight') !important;
    }
}


*/