<div class="settingsContainer">
    <form>

    <fieldset class="settingGeneral">
        <legend>General</legend>
        Work in progress...

        <mat-select placeholder="Langage" [(ngModel)]="selectedLangage" name="food" disabled>
        <mat-option *ngFor="let langage of langagesList" [value]="langage.value">
        {{langage.viewValue}}
        </mat-option>
        </mat-select>

        <mat-select placeholder="Theme" [(ngModel)]="selectedTheme" name="food" disabled>
        <mat-option *ngFor="let theme of themesList" [value]="theme">
        {{theme}}
        </mat-option>
        </mat-select>
    </fieldset>

    <fieldset>
        <legend>Export playlists</legend>
         Work in progress...
        <button class="toolbarBtn" mat-raised-button disabled>
        <fa aria-label="Export playlists" [name]="'external-link'" [size]="2"></fa>
        Export
        </button>
    </fieldset>

    </form> 
</div>