#searchResultsContainer {
    .loadLine {
        cursor: pointer;
        height: 60px;
        width: 100%;
        padding: 10px;

        .spinner { margin: 0 auto; }
        .loadLineItem {
            text-align: center;
            line-height: 40px;
            width: 100%;
            align-self: center;
        }
    }
    .srList {
        padding: 20px;
    }
}
