#searchResultsContainer {
    .loadLine {
        cursor: pointer;
        height: 60px;
        width: 100%;
        padding: 10px;

        .spinner { margin: 0 auto; }
        .loadLineItem {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            -ms-grid-row-align: center;
            align-items: center;

            .loadLineItemLabel {
                margin: 0 20px 0 20px;
            }
        }
    }
    .srList {
        padding: 20px;
    }
}
