<!-- Playlist list mode toolbar -->
<div class="toolBar">
    <md-toolbar *ngIf="!isEditMode">

        <!-- Create playlist button -->
        <button class="toolbarBtn" md-raised-button (click)="createPlaylist()">
            <fa aria-label="Create playlist" [name]="'plus'" [size]="1"></fa>
            Create playlist
        </button>

        <!-- Search/filter playlist by word -->
        <span class="inputFilterbox">
            <input id="inputFilter" mdInput [formControl]="filterPlaylist" [mdAutocomplete]="auto"
                class="inputSearchPlaylist" type="text"  placeholder="Search playlist">

            
            <button *ngIf="filterPlaylist.value && filterPlaylist.value.length > 0"
                (click)="filterPlaylist.setValue('')" id="clearInputFilter" >X</button>

            <md-autocomplete #auto="mdAutocomplete" class="autocompleteBox">
                <md-option *ngFor="let pl of playlistsList" [value]="pl.title">
                {{ pl.title }}
                </md-option>
            </md-autocomplete>
        </span>
        
        <!-- Toolbar space -->
        <span class="spacerToolbar"></span>

        <!-- Playlist count -->
        <span style="margin-left :16px; margin-right :16px;">{{ playlistsList.length }} Playlist<span *ngIf="playlistsList.length > 1">s</span></span>

        <!-- Refresh playlist list button -->
        <button disabled="isLoggedIn ? false : true " class="toolbarBtn" *ngIf="!isEditMode" md-raised-button (click)="reloadPlaylist()">
        <fa aria-label="Refresh playlist" [name]="'refresh'" [size]="1"></fa>
        Refresh
        </button>
    </md-toolbar>


    <!-- Edit playlist mode toolbar -->
    <md-toolbar *ngIf="isEditMode" class="toolBar">

        <!-- Return button -->
        <button class="toolbarBtn returnBtn"  md-raised-button (click)="return()">
            <fa aria-label="Return" [name]="'arrow-left'" [size]="1"></fa>
        </button>

        <!-- Save playlist button -->
        <button class="toolbarBtn"  md-raised-button (click)="saveOnEditPlaylist()">
            <fa aria-label="Save playlist" [name]="'floppy-o'" [size]="1"></fa>
            Save playlist
        </button>
        <span class="spacerToolbar"></span>
    </md-toolbar>
</div>


<!-- List of playlist -->
<div *ngIf="!isEditMode" class="plPanelContent">

    <div class="playlistGrid">
        <!-- progress bar -->
        <div class="progressBarGray" *ngIf="isProgressBar"></div>
        <md-progress-bar
            *ngIf="isProgressBar"
            [color]="primary"
            [mode]="determinate"
            [value]="progressBarValue">
        </md-progress-bar>

        <md-grid-list  *ngIf="playlistsList" cols="5" rowHeight="160px" gutterSize="10px" >
            
            <!-- Playlist list items -->
            <md-grid-tile *ngFor="let pl of playlistsList | filterPlaylist:filterPlaylist.value ; let i = index">
                <div class="plBox">

                    <!-- Privacy status playlist icons -->
                    <div *ngIf="pl.privacyStatus === 'private'" mdTooltip="Playlist private" [mdTooltipPosition]="'below'" class="plStatus private">
                        <fa aria-label="Playlist private" [name]="'lock'" [size]="1"></fa>
                    </div>

                    <div *ngIf="pl.privacyStatus === 'public'" mdTooltip="Playlist public" [mdTooltipPosition]="'below'" class="plStatus public">
                        <fa aria-label="Playlist public" [name]="'globe'" [size]="1"></fa>
                    </div>

                    <div class="plContent">
                        <div *ngIf="pl.thumbUrl === ''" class="iconBg"><fa [name]="'music'" [size]="5"></fa></div>
                        <div *ngIf="pl.thumbUrl !== ''" class="thumbBg">
                            <img src="{{ pl.thumbUrl }}" alt="">
                        </div>

                        <div class="plContentInfos">
                            <p class="plName">{{ pl.title }}</p>
                            <p class="plDesc">{{ pl.description }}</p>
                            <p class="nbrVideo">{{ pl.videolist.length }} video<span *ngIf="pl.videolist.length > 1">s</span></p>
                        </div>
                    </div>

                    <div class="plFooter">
                        <!-- Play playlist button -->
                        <button  class="playBtn plBtn" (click)="playPlaylist(pl)" mdTooltip="Play playlist!" [mdTooltipPosition]="'above'">
                        <fa aria-label="Edit playlist" [name]="'play'" [size]="2"></fa>
                        </button>

                        <div class="spacerBtn"></div>
                        
                        <!-- Edit playlist button -->
                        <button class="editBtn plBtn" (click)="editPlaylist(pl)" mdTooltip="Edit playlist!" [mdTooltipPosition]="'above'">
                        <fa aria-label="Edit playlist" [name]="'pencil'" [size]="2"></fa>
                        </button>

                        <!-- Remove playlist button -->
                        <button class="deleteBtn plBtn" (click)="deletePlaylist(pl)" mdTooltip="Delete playlist!" [mdTooltipPosition]="'above'">
                        <fa aria-label="Delete playlist" [name]="'trash'" [size]="2"></fa>
                        </button>
                    </div>
                </div>

            </md-grid-tile>
        </md-grid-list>
    </div>
</div>

<!-- Edit playlist -->
<div *ngIf="isEditMode" class="plPanelContent" >
    <app-edit-playlist [playlist]="onEditPlaylist" [addPlayBtn]="false"></app-edit-playlist>
</div>
