md-grid-tile {
    background: #242320;
}
md-grid-list {
    margin: 15px;
}
.progressBarGray {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    height: calc(100% - 64px);
    width: 100%;
    z-index: 99998;
}

.doublePlaylistContainer {
    width: 100%;
    height: calc(100% - 75px);
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}



.playlistContainer {
    width: calc(50% - 10px);
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between
}

.title {
    text-align: center;
    height: 24px;
    padding: 5px;
    background-color: white;
}

.content {
    height: 100%;
    background-color: darkgray;
    overflow: auto;
}

/*************************
         Toolbar
*************************/
.button-row {
    display: flex;
    flex-direction: row;
}
.spacerToolbar { flex: 1 1 auto; }
.inputSearchPlaylist {
    border: none;
    border-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left :16px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
.returnBtn {
    padding-left: 4px !important;
    margin-right: 10px !important;
    padding-right: 0 !important;
    width: 40px !important;
    min-width: 20px !important;
    text-align: center;
}

/*************************
    PlaylistList items
*************************/
.plBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

/* Playlist privacy status */
.plStatus {
    z-index: 200;
    position: absolute;
    top: 5px;
    right: 5px;
    color: darkgray;
}

/* Playlist content */
.plContent {
    position: relative;
    display: flex;
    align-content: space-around
}

/* Background icon */
.iconBg {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    opacity: 0.2;
    z-index: 5;
    top: 20px;
    left: calc(1vw + 20%);
    right: calc(1vw + 20%);
}
.thumbBg {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    opacity: 0.4;
    z-index: 5;
    text-align: center;
}
.thumbBg img {
    height: 100%;
}

/* Content text */
.plContentInfos {
    color: white;
    z-index: 6;
    margin: 10px 10px 10px 20px;
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.plName { font-size: 1.2rem; font-weight: bold; }
.plDesc { font-size: 0.8rem; }
.nbrVideo { font-size: 0.8rem; opacity: 0.8;}

/* Playlist footer */
.plFooter {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
}

/* playlist control */
.plBtn {
    cursor: pointer;
    width: 34px !important;
    height: 34px;
    border: none;
    background-color: transparent;
    color: white;
}
.playBtn:hover { color: #48b735 }
.editBtn:hover { color: #248fd6 }
.deleteBtn:hover { color: #e83e3e }
.spacerBtn { width: 100px; }
