<!-- Playlist list mode toolbar -->
<div class="toolBar">
    <mat-toolbar *ngIf="!isEditMode">

        <!-- Create playlist button -->
        <button class="toolbarBtn" mat-raised-button (click)="createPlaylist()">
            <fa aria-label="Create playlist" [name]="'plus'" [size]="1"></fa>
            Create playlist
        </button>

        <!-- Search/filter playlist by word -->
        <span class="inputFilterbox">
            <input id="inputFilter" matInput [formControl]="filterTitle" [matAutocomplete]="auto"
                class="inputSearchPlaylist" type="text"  placeholder="Filter playlists...">
            
            <button *ngIf="filterTitle.value && filterTitle.value.length > 0"
                (click)="filterTitle.setValue('')" id="clearInputFilter" >X</button>

            <mat-autocomplete #auto="matAutocomplete" class="autocompleteBox">
                <mat-option *ngFor="let pl of playlistsList" [value]="pl.title">
                {{ pl.title }}
                </mat-option>
            </mat-autocomplete>
        </span>

        <span class="filterLocation">
            <mat-radio-group [(ngModel)]="filterLocation">
            <mat-radio-button value="all">All</mat-radio-button>
            <mat-radio-button value="true">Local</mat-radio-button>
            <mat-radio-button value="false">Youtube</mat-radio-button>
            </mat-radio-group>
        </span>

        <!-- Toolbar space -->
        <span class="spacerToolbar"></span>

        <!-- Playlist count -->
        <span style="margin-left :16px; margin-right :16px;">{{ playlistsList.length }} Playlist<span *ngIf="playlistsList.length > 1">s</span></span>

        <!-- Refresh playlist list button -->
        <button class="toolbarBtn" *ngIf="!isEditMode && isLoggedIn" mat-raised-button (click)="reloadPlaylist()">
        <fa aria-label="Refresh playlist" [name]="'refresh'" [size]="1"></fa>
        Reload from Youtube
        </button>
    </mat-toolbar>


    <!-- Edit playlist mode toolbar -->
    <mat-toolbar *ngIf="isEditMode" class="toolBar">

        <!-- Return button -->
        <button class="toolbarBtn returnBtn"  mat-raised-button (click)="return()">
            <fa aria-label="Return" [name]="'arrow-left'" [size]="1"></fa>
        </button>

        <!-- Save playlist button -->
        <button class="toolbarBtn"  mat-raised-button (click)="saveOnEditPlaylist()">
            <fa aria-label="Save playlist" [name]="'floppy-o'" [size]="1"></fa>
            Save playlist
        </button>

        <!-- Save playlist on youtube button -->
        <button class="toolbarBtn"  mat-raised-button (click)="saveOnEditPlaylist()">
            <fa aria-label="Save playlist" [name]="'floppy-o'" [size]="1"></fa>
            Save on youtube
        </button>

        <span class="spacerToolbar"></span>
    </mat-toolbar>
</div>


<div class="playlistSpacer"></div>

<!-- List of playlist -->
<div *ngIf="!isEditMode" class="plPanelContent">
    
    <div class="playlistGrid">

        <!-- Progress bar -->
        <div class="progressBarGray" *ngIf="isProgressBar"></div>
        <mat-progress-bar
            *ngIf="isProgressBar"
            [color]="'primary'"
            [mode]="'determinate'"
            [value]="progressBarValue">
        </mat-progress-bar>

        <mat-grid-list  *ngIf="playlistsList" cols="4" rowHeight="160px" gutterSize="25px" >

            <!-- Playlist list items -->
            <mat-grid-tile *ngFor="let pl of playlistsList | filterPlaylistTitle:filterTitle.value | filterPlaylistLocation:filterLocation ; let i = index">
                <div class="plBox">

                    <!-- Privacy status playlist icons -->
                    <div *ngIf="pl.privacyStatus === 'private'" matTooltip="Playlist private" [matTooltipPosition]="'below'" class="plStatus private">
                    <fa aria-label="Playlist private" [name]="'lock'" [size]="1"></fa>
                    </div>

                    <div *ngIf="pl.privacyStatus === 'public'" matTooltip="Playlist public" [matTooltipPosition]="'below'" class="plStatus public">
                    <fa aria-label="Playlist public" [name]="'globe'" [size]="1"></fa>
                    </div>

                    <div class="plContent">
                        <div *ngIf="pl.thumbUrl === ''" class="iconBg"><fa [name]="'music'" [size]="5"></fa></div>
                        <div *ngIf="pl.thumbUrl !== ''" class="thumbBg">
                            <img src="{{ pl.thumbUrl }}" alt="">
                        </div>

                        <div class="plContentInfos">
                            <p class="plName">{{ pl.title }}</p>
                            <p class="plDesc">{{ pl.description }}</p>
                            <p class="nbrVideo">{{ pl.videolist.length }} video<span *ngIf="pl.videolist.length > 1">s</span></p>
                        </div>
                    </div>

                    <div class="plFooter">
                        <!-- Play playlist button -->
                        <button  class="playBtn plBtn" (click)="playPlaylist(pl)" matTooltip="Play playlist!" [matTooltipPosition]="'above'">
                        <fa aria-label="Edit playlist" [name]="'play'" [size]="2"></fa>
                        </button>

                        <div class="spacerBtn"></div>
                        
                        <!-- Edit playlist button -->
                        <button class="editBtn plBtn" (click)="editPlaylist(pl)" matTooltip="Edit playlist!" [matTooltipPosition]="'above'">
                        <fa aria-label="Edit playlist" [name]="'pencil'" [size]="2"></fa>
                        </button>

                        <!-- Remove playlist button -->
                        <button class="deleteBtn plBtn" (click)="deletePlaylist(pl)" matTooltip="Delete playlist!" [matTooltipPosition]="'above'">
                        <fa aria-label="Delete playlist" [name]="'trash'" [size]="2"></fa>
                        </button>
                    </div>
                </div>

            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

<!-- Edit playlist -->
<div *ngIf="isEditMode" class="plPanelContent" >
    <app-edit-playlist [playlist]="onEditPlaylist" [type]="'edit'"></app-edit-playlist>
</div>
