
<div #appp class="appWrapper theme-{{ appState.theme }}">

    <!-- window title bar -->
    <div class="windowTitlebar"></div>

    <!-- Toolbar -->
    <mat-toolbar class="appToolbar">

        <button class="toolbarBtn menuBtn btnHover toggleBtn" (click)="setIsMiniSideBar()">
            <!--
            <fa class="sidenavBtnIco" [name]="'bars'" [size]="2" [rotate]="!isMiniSideBar ? 90 : 0"></fa>
            <fa *ngIf="isMiniSideBar" class="sidenavBtnIco" [name]="'caret-right'" [size]="3"></fa>
            <fa *ngIf="!isMiniSideBar" class="sidenavBtnIco" [name]="'caret-left'" [size]="3"></fa>
            -->

            <mat-icon *ngIf="isMiniSideBar"  class="sidenavBtnIco" svgIcon="chevron-left"></mat-icon>
            <mat-icon *ngIf="!isMiniSideBar" class="sidenavBtnIco" svgIcon="chevron-down"></mat-icon>
        </button>

        <!-- App title -->
        <div class="appTitle ">
        <span class="title">Turntable</span>
        </div>

        <!-- Searchbar -->
        <app-search-bar></app-search-bar>

        <div class="flexSpacer"></div>

        <button (click)="setShowPlayerBar()"  [translate]="'playerbar'"></button>

        <div *ngIf="user" class="toolbarBtn userImg">
            <img src="{{ user.img }}" alt="">
            <!-- <div class="sidenavBtnLabel">{{ user.name }}</div> -->
        </div>

        <button [matMenuTriggerFor]="menu" class="toolbarBtn btnHover">
            <fa class="sidenavBtnIco" [name]="'ellipsis-v'" [size]="3"></fa>
        </button>

        <mat-menu #menu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="menuBox">
            <button *ngIf="user" (click)="signout()" class="menuItem btnHover">
                <fa class="menuItemIco" [name]="'sign-out'" [size]="2"></fa>
                <span class="menuItemLabel"  [translate]="'signOut'"></span>
            </button>
            <button *ngIf="!user" (click)="signin()" class="menuItem btnHover">
                <fa class="menuItemIco" [name]="'sign-in'" [size]="2"></fa>
                <span class="menuItemLabel"  [translate]="'signIn'"></span>
            </button>
            <button (click)="onSelectTab(6)" class="menuItem btnHover">
                <fa class="menuItemIco" [name]="'cog'" [size]="2"></fa>
                <span class="menuItemLabel"  [translate]="'settings'"></span>
            </button>
        </mat-menu>
    </mat-toolbar>


    <div class="appapp">
        <div  class="appContainer flexSpacer">

            <!-- Side navbar -->
            <div #sideNav class="appSidenav" >
                <div class="sidenavCont">
                    <div class="flexItem sectionLabel">
                        <span *ngIf="!isMiniSideBar"  [translate]="'nav'"></span>
                    </div>
                    <div class="flexItem">
                        <button class="sidenavBtn btnHover" (click)="onSelectTab(1)" [class.activ]="appState.selectedTab === 1 || appState.selectedTab === 2">
                            <fa class="sidenavBtnIco" [name]="'home'" [size]="1"></fa>
                            <span *ngIf="!isMiniSideBar" class="sidenavBtnLabel"  [translate]="'home'"></span>
                        </button>
                        <button class="sidenavBtn btnHover" (click)="onSelectTab(3)" [class.activ]="appState.selectedTab === 3">
                            <fa class="sidenavBtnIco" [name]="'th-list'" [size]="1"></fa>
                            <span *ngIf="!isMiniSideBar" class="sidenavBtnLabel"  [translate]="'library'"></span>
                        </button>
                        <button class="sidenavBtn btnHover" (click)="onSelectTab(5)"
                            [class.activ]="appState.selectedTab === 5"
                            dnd-droppable (onDropSuccess)="onDropSuccess($event)">
                            <fa class="sidenavBtnIco" [name]="'play-circle'" [size]="1"></fa>
                            <span *ngIf="!isMiniSideBar" class="sidenavBtnLabel"  [translate]="'player'"></span>
                        </button>
                    </div>
    
                    <!-- Playlists list -->
                    <div class="flexItem sectionLabel" [hidden]="isMiniSideBar">
                        <span [hidden]="isMiniSideBar" [translate]="'pl'"></span>
                        <div class="flexSpacer"></div>
                        <button *ngIf="user && !isMiniSideBar" mat-menu-item (click)="refreshYTPlaylists()" [class.rotate]="loader.panel" class="refreshBtn btnHover">
                        <fa class="refreshBtnIco" [name]="'refresh'" [size]="1"></fa>
                        </button>
                    </div>
    
                    <app-playlist-button-list  [hidden]="isMiniSideBar" class="flexItem sidenavPlBtnList"></app-playlist-button-list>
    
                    <div class="flexSpacer"></div>
    
                    <!-- Creaye playlist button -->
                    <div class="flexItem">
                        <button class="sidenavBtn btnHover addBtn" (click)="createPlaylist()">
                            <fa class="sidenavBtnIco" [name]="'plus'" [size]="1"></fa>
                            <span [hidden]="isMiniSideBar"  class="sidenavBtnLabel"  [translate]="'addPl'"></span>
                        </button>
                    </div>
                </div>
            </div>


            <!-- Resizable Gutter
                draggable="true"
            -->
            <dir class="gutter"
                (mousedown)="onMouseDown($event)">
            </dir>
    
            <!-- Content -->
            <div #content class="appContent flexSpacer">
                <div class="content flexSpacer" [class.withPlayerBar]="appState.showPlayerBar">
                    <app-home             class="tabContent" [style.zIndex]="appState.selectedTab === 1 ? 1 : 0"></app-home>
                    <app-search-results   class="tabContent" [style.zIndex]="appState.selectedTab === 2 ? 1 : 0"></app-search-results>
                    <app-library          class="tabContent" [style.zIndex]="appState.selectedTab === 3 ? 1 : 0"></app-library>
                    <app-playlist-details class="tabContent" [style.zIndex]="appState.selectedTab === 4 ? 1 : 0"></app-playlist-details>
                    <app-player-panel     class="tabContent" [style.zIndex]="appState.selectedTab === 5 ? 1 : 0"></app-player-panel>
                    <app-settings         class="tabContent" [style.zIndex]="appState.selectedTab === 6 ? 1 : 0"></app-settings>
                </div>
    
                <!-- Player control bar   *ngIf="isOnPlay" -->
                <app-player-bar *ngIf="appState.showPlayerBar" class="playerBar" [class.toggleBar]="!appState.showPlayerBar"></app-player-bar>
    
                <!-- Panel loader -->
                <app-loader [show]="loader.panel" [isGlobal]="false"></app-loader>
            </div>
        </div>
    </div>

    <!-- Global app loader -->
    <app-loader [show]="loader.global" [isGlobal]="true"></app-loader>
</div>
