
<div class="appWrapper theme-{{ appState.theme }}">


    <!-- window title bar -->
    <div class="windowTitlebar"></div>


    <!-- Toolbar -->
    <mat-toolbar class="appToolbar">

        <button class="toolbarBtn menuBtn btnHover" (click)="setIsMiniSideBar()">
            <!--
            <fa class="sidenavBtnIco" [name]="'bars'" [size]="2" [rotate]="!appState.isMiniSideBar ? 90 : 0"></fa>
            <fa *ngIf="appState.isMiniSideBar" class="sidenavBtnIco" [name]="'caret-right'" [size]="3"></fa>
            <fa *ngIf="!appState.isMiniSideBar" class="sidenavBtnIco" [name]="'caret-left'" [size]="3"></fa>
            -->

            <mat-icon *ngIf="appState.isMiniSideBar"  class="sidenavBtnIco" svgIcon="chevron-left"></mat-icon>
            <mat-icon *ngIf="!appState.isMiniSideBar" class="sidenavBtnIco" svgIcon="chevron-down"></mat-icon>
        </button>

        <!-- App title -->
        <div class="appTitle ">
        <span class="title">Turntable</span>
        </div>

        <!-- Searchbar -->
        <app-search-bar></app-search-bar>

        <div class="flexSpacer"></div>

        <button (click)="setShowPlayerBar()"  [translate]="'playerbar'"></button>

        <div *ngIf="user" class="toolbarBtn userImg">
            <img src="{{ user.img }}" alt="">
            <!--
            <div class="sidenavBtnLabel">{{ user.name }}</div>
            -->
        </div>

        <button [matMenuTriggerFor]="menu" class="toolbarBtn btnHover">
            <fa class="sidenavBtnIco" [name]="'ellipsis-v'" [size]="3"></fa>
        </button>

        <mat-menu #menu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="menuBox">
            <button *ngIf="user" (click)="signout()" class="menuItem btnHover">
                <fa class="menuItemIco" [name]="'sign-out'" [size]="2"></fa>
                <span class="menuItemLabel"  [translate]="'signOut'"></span>
            </button>
            <button *ngIf="!user" (click)="signin()" class="menuItem btnHover">
                <fa class="menuItemIco" [name]="'sign-in'" [size]="2"></fa>
                <span class="menuItemLabel"  [translate]="'signIn'"></span>
            </button>
            <button (click)="onSelectTab(6)" class="menuItem btnHover">
                <fa class="menuItemIco" [name]="'cog'" [size]="2"></fa>
                <span class="menuItemLabel"  [translate]="'settings'"></span>
            </button>
        </mat-menu>
    </mat-toolbar>



    <mat-sidenav-container class="appContainer flexSpacer" autosize>

        <!-- Sidenav mini --
        <mat-sidenav [hidden]="!appState.isMiniSideBar" #sidenav [mode]="'side'" opened="true" class="appSidenav miniNav">
            <div class="flexItem sectionLabel"></div>
            <button class="sidenavBtn btnHover" (click)="onSelectTab(1)" [class.activ]="appState.selectedTab === 1 || selectedTab === 2">
                <fa class="sidenavBtnIco" [name]="'home'" [size]="1"></fa>
            </button>
            <button class="sidenavBtn btnHover" (click)="onSelectTab(3)" [class.activ]="appState.selectedTab === 3">
                <fa class="sidenavBtnIco" [name]="'th-list'" [size]="1"></fa>
                <span class="sidenavBtnLabel"  [translate]="'library'"></span>
            </button>
            <button class="sidenavBtn btnHover" (click)="onSelectTab(5)" [class.activ]="appState.selectedTab === 5">
                <fa class="sidenavBtnIco" [name]="'play-circle'" [size]="1"></fa>
            </button>

            <div class="flexSpacer"></div>

            <button class="sidenavBtn btnHover addBtn" (click)="addPlaylist()">
                <fa class="sidenavBtnIco" [name]="'plus'" [size]="1"></fa>
            </button>
        </mat-sidenav>
        -->


        <!-- Sidenav normal -->
        <mat-sidenav  #sidenav [mode]="'side'"
            opened="true" class="appSidenav" [class.miniNav]="appState.isMiniSideBar">

            <div class="sidenavCont" [hidden]="appState.isMiniSideBar">
                <!-- Navigation -->
                <div class="flexItem sectionLabel">
                    <span  [translate]="'nav'"></span>
                </div>
                <div class="flexItem">
                    <button class="sidenavBtn btnHover" (click)="onSelectTab(1)" [class.activ]="appState.selectedTab === 1 || appState.selectedTab === 2">
                        <fa class="sidenavBtnIco" [name]="'home'" [size]="1"></fa>
                        <span class="sidenavBtnLabel"  [translate]="'home'"></span>
                    </button>
                    <button class="sidenavBtn btnHover" (click)="onSelectTab(3)" [class.activ]="appState.selectedTab === 3">
                        <fa class="sidenavBtnIco" [name]="'th-list'" [size]="1"></fa>
                        <span class="sidenavBtnLabel"  [translate]="'library'"></span>
                    </button>
                    <button class="sidenavBtn btnHover" (click)="onSelectTab(5)" [class.activ]="appState.selectedTab === 5">
                        <fa class="sidenavBtnIco" [name]="'play-circle'" [size]="1"></fa>
                        <span class="sidenavBtnLabel"  [translate]="'player'"></span>
                    </button>
                </div>

                <!-- Playlists list -->
                <div class="flexItem sectionLabel">
                    <span  [translate]="'pl'"></span>
                    <div class="flexSpacer"></div>
                    <button *ngIf="user" mat-menu-item (click)="refreshYTPlaylists()" [class.rotate]="appState.loading" class="refreshBtn btnHover">
                    <fa class="refreshBtnIco" [name]="'refresh'" [size]="1"></fa>
                    </button>
                </div>
                <app-playlist-button-list class="flexItem sidenavPlBtnList"></app-playlist-button-list>

                <div class="flexSpacer"></div>

                <!-- Add playlist button -->
                <div class="flexItem">
                    <button class="sidenavBtn btnHover addBtn" (click)="addPlaylist()">
                        <fa class="sidenavBtnIco" [name]="'plus'" [size]="1"></fa>
                        <span class="sidenavBtnLabel"  [translate]="'addPl'"></span>
                    </button>
                </div>
            </div>


            <div class="sidenavCont" [hidden]="!appState.isMiniSideBar">
                <div class="flexItem sectionLabel"></div>
                <button class="sidenavBtn btnHover" (click)="onSelectTab(1)" [class.activ]="appState.selectedTab === 1 || appState.selectedTab === 2">
                    <fa class="sidenavBtnIco" [name]="'home'" [size]="1"></fa>
                </button>
                <button class="sidenavBtn btnHover" (click)="onSelectTab(3)" [class.activ]="appState.selectedTab === 3">
                    <fa class="sidenavBtnIco" [name]="'th-list'" [size]="1"></fa>
                </button>
                <button class="sidenavBtn btnHover" (click)="onSelectTab(5)" [class.activ]="appState.selectedTab === 5">
                    <fa class="sidenavBtnIco" [name]="'play-circle'" [size]="1"></fa>
                </button>

                <div class="flexSpacer"></div>

                <button class="sidenavBtn btnHover addBtn" (click)="addPlaylist()">
                    <fa class="sidenavBtnIco" [name]="'plus'" [size]="1"></fa>
                </button>
            </div>
            <!--

            <div *ngIf="appState.isMiniSideBar">
                <div class="flexItem sectionLabel"><span></span></div>
                <div class="flexItem">
                    <button class="sidenavBtnMini btnHover" (click)="onSelectTab(1)" [class.activ]="appState.selectedTab === 1 || selectedTab === 2">
                        <fa class="sidenavBtnIcoMini" [name]="'home'" [size]="1"></fa>
                    </button>
                    <button class="sidenavBtnMini btnHover" (click)="onSelectTab(3)" [class.activ]="appState.selectedTab === 3 || selectedTab === 4">
                        <fa class="sidenavBtnIcoMini" [name]="'th-list'" [size]="1"></fa>
                    </button>
                    <button class="sidenavBtnMini btnHover" (click)="onSelectTab(5)" [class.activ]="appState.selectedTab === 5">
                        <fa class="sidenavBtnIcoMini" [name]="'play-circle'" [size]="1"></fa>
                    </button>
                </div>
                <!-- Add playlist button ->
                <div class="flexItem">
                    <button class="sidenavBtnMini btnHover addBtn" (click)="addPlaylist()">
                        <fa class="sidenavBtnIcoMini" [name]="'plus'" [size]="1"></fa>
                    </button>
                </div>
            </div>
        -->

        </mat-sidenav>

        <!-- Content -->
        <mat-sidenav-content class="appContent">

            <div *ngIf="appState.loading" class="appLoader">
                <mat-spinner></mat-spinner>
            </div>

            <!-- Content -->
            <div class="content flexSpacer" [class.withPlayerBar]="appState.showPlayerBar">
                <app-home             class="tabContent" [style.zIndex]="appState.selectedTab === 1 ? 1 : 0"></app-home>
                <app-search-results   class="tabContent" [style.zIndex]="appState.selectedTab === 2 ? 1 : 0"></app-search-results>
                <app-library          class="tabContent" [style.zIndex]="appState.selectedTab === 3 ? 1 : 0"></app-library>
                <app-playlist-details class="tabContent" [style.zIndex]="appState.selectedTab === 4 ? 1 : 0"></app-playlist-details>
                <app-player-panel     class="tabContent" [style.zIndex]="appState.selectedTab === 5 ? 1 : 0"></app-player-panel>
                <app-settings         class="tabContent" [style.zIndex]="appState.selectedTab === 6 ? 1 : 0"></app-settings>
            </div>

            <!--
            *ngIf="isOnPlay"
            -->
            <app-player-bar *ngIf="appState.showPlayerBar" class="playerBar" [class.toggleBar]="!appState.showPlayerBar"></app-player-bar>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
