#appContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Loader */
#appLoader {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.blur {
    filter: blur(50%);
}
