.dialContent {
    display: flex;
    flex-direction: column;

    .progressBar {
        position: relative;
        width: 100%;
        height: 20px;

        .bg {
            z-index: 99998;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: black;
        }

        .pr {
            z-index: 99999;
            height: 100%;
            position: absolute;
            background-color: blue;
        }
    }
}
