.playerContainer {
    position: relative;
    width: 100%;
    height: 100%;

    .overPlayer {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .centered { margin: 0 auto; }
    }

    .hiddenPlayer {
        z-index: 6;
        background-color: black;
    }

    .playPauseBtn {
        z-index: 7;
        background-color: transparent;
        cursor: pointer;
        .playPauseIco {
            opacity: 1;
            transition: all ease-in 200ms;
        }
        &.hiddenIco .playPauseIco { opacity: 0; }
    }

    .player {
        z-index: 5;
        width: 100%;
        height: 100%;
    }
}