    <div class="playerContainer">

        <div class="hiddenPlayer overPlayer" *ngIf="(state === -1 || state === 5)">
            <mat-spinner *ngIf="!player && state === -1" class="centered"></mat-spinner>
        </div>

        <div class="playPauseBtn overPlayer" [class.hiddenIco]="hiddenIco" (click)="onPlayPause()">
            <fa *ngIf="state === 1"
                class="playPauseIco centered"
                [name]="'play'"
                [size]="5"></fa>
            <fa *ngIf="state === 2"
                class="playPauseIco centered"
                [name]="'pause'"
                [size]="5"></fa>
        </div>

        <app-youtube-player
            class="player"
            [height]="height"
            [width]="width"
            (ready)="onPlayerReady($event)"
            (change)="onStateChange($event)">
        </app-youtube-player>

    </div>
