    <div class="playerContainer">

        <!--
        <div class="hiddenPlayer"
            *ngIf="!videoId"
            [style.height]="height + 'px'"
            [style.width]="width + 'px'">
            id {{ videoId }}
        </div>
    -->

        <div class="playPauseBtn" [class.hiddenIco]="hiddenIco" (click)="onPlayPause()">
                <fa *ngIf="state === 1"
                    class="playPauseIco"
                    [name]="'pause'"
                    [size]="5"></fa>
                <fa *ngIf="state === 2"
                    class="playPauseIco"
                    [name]="'play'"
                    [size]="5"></fa>
            </div>

        <app-youtube-player
            class="player"
            [height]="height"
            [width]="width"
            (ready)="onPlayerReady($event)"
            (change)="onStateChange($event)">
        </app-youtube-player>

    </div>
