<!--div class="megaLoader"><fa [name]="'spinner'" [size]="5"></fa></div-->

<div id="playerPanelContainer" class="contentPanel">

    <div id="playerContainer">
        <app-video-player
            #playerLeft
            [sidePlayer]="'left'"
            [video]="videoLeft"
            (nearEnd)="triggerMixLTR($event)"
            [speed]="speedLeft"
            (speedChange)="speedLeft">
        </app-video-player>

        <div id="controlBox">
            <div id="controlBtnBox">

                <!-- Random playlist button -->
                <button class="randomBtn" [class.activRandom]="isRandom" (click)="setIsRandom()">
                <fa aria-label="Edit playlist" [name]="'random'" [size]="2"></fa>
                </button>

                <span> isRandom: {{ isRandom }}</span>

                <!-- Crossfader -->
                <div id="crossfaderBox" class="line-border">
                    <div class="hori-ticks">
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                    <input
                        [disabled]="!videoLeft || !videoLeft"
                        class="crossfader horizontal" type="range"
                        min="0" max="100" step="0.5"
                        list="tickmarks-center"
                        value="{{ crossFaderValue }}"
                        [(ngModel)]="crossFaderValue"
                        (ngModelChange)="onChangeCrossFaderValue($event)">
                </div>
            </div>
        </div>

        <app-video-player
            #playerRight
            [sidePlayer]="'right'"
            [video]="videoRight"
            (nearEnd)="triggerMixRTL($event)"
            [speed]="speedRight"
            (speedChange)="speedRight">
            </app-video-player>
    </div>

    <!-- On play playlist and search playlist-->
    <div id="playlistContainer">
        <app-edit-playlist [playlist]="onPlayPlaylist"  [type]="'player'"></app-edit-playlist>
    </div>

</div>
