@import '../../../styles/themes';

.spacer {
    // height: 20px;
}

.appList {
    min-height: 400px;
}

.plScrollContainer {
    height: calc(100% - 50px);
    padding: 10px 10px 0 10px;
}

.name {
    width: 300px;
    max-width: 300px;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.length {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.duration {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0.8rem;
}
