<div *ngIf="playlist" id="playlistDetailsContainer" class="contentPanel">

    <app-toolbar [height]="'40px'" [margin]="'0 0 0 2px'" [padding]="'0 0 0 15px'">
        <div class="name noOverflow">{{ playlist?.title }}</div>
        <div class="length noOverflow">{{ playlist?.videolist?.length }} track<span *ngIf="playlist.videolist.length >1">s</span></div>
        <div class="duration noOverflow">{{ playlist?.videolist | totalduration | duration }}</div>

        <div class="flexSpacer"></div>

        <button class="toolbarBtn miniBtn btnHover" (click)="editPlaylist()">
            <fa [name]="'pencil'" [size]="2"></fa>
        </button>

        <button class="toolbarBtn miniBtn btnHover" (click)="deletePlaylist()">
            <fa [name]="'trash'" [size]="2"></fa>
        </button>
    </app-toolbar>

    <div class="spacer"></div>

    <div class="scrollContainer plScrollContainer" #pldScrollContainer>
        <!-- Video list -->
        <app-video-list
            [draggable]="true"
            [videoList]="playlist.videolist"
            [displayType]="'list'"
            [dragBagName]="'searchResultsBag'"
            [attrCopy]="false"
            [attrAcceptDrop]="true"
            [attrPlaylistId]="playlist.id"
            [attrFrom]="'detail'"
            [showShadow]="true">

            <!-- Item control buttons -->
            <ng-template #itemControl let-video>
                <button class="toolbarBtn btnHover"
                    [matMenuTriggerFor]="menuDetail" xPosition="'before'" yPosition="'above'">
                    <fa [name]="'bars'" [size]="2"></fa>
                </button>
                <mat-menu #menuDetail="matMenu">
                    <button mat-menu-item (click)="playVideo(video)">
                        <mat-icon>play_circle_outline</mat-icon>
                        <span>Play</span>
                    </button>
                    <button mat-menu-item (click)="addToQueue(video)">
                        <mat-icon>library_add</mat-icon>
                        <span>Add to queue</span>
                    </button>
                </mat-menu>

                <button class="toolbarBtn btnHover" (click)="deleteVideo(video)">
                    <fa [name]="'trash-o'" [size]="2"></fa>
                </button>
            </ng-template>
        </app-video-list>
    </div>
</div>