.spacer {
    height: 20px;
}

.notExpanded {
    height: calc(100% - 48px - 20px);
}

.expanded {
    height: calc(100% - 191px - 20px) !important;
}

div.handle {
    cursor: grab !important;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    &i .handle {
    }
}