@import '../../../styles/themes';

.spacer {
    height: 20px;
}

.plDetailToolbar {
    // height: 64px;
    height: 40px;
}

div.handle {
    cursor: grab !important;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    &i .handle {
    }
}

.appList {
    min-height: 400px;
}

.plScrollContainer {
    height: calc(100% - 64px - 20px);
}
