<div *ngIf="playlist" id="playlistDetailsContainer" class="contentPanel">

    <app-toolbar [height]="'40px'" [margin]="'0 0 0 2px'" [padding]="'0 0 0 15px'">
        <div class="name noOverflow">{{ playlist?.title }}</div>
        <div class="length noOverflow">{{ playlist?.videolist?.length }} <span [translate]="'track'"></span><span *ngIf="playlist?.videolist?.length >1">s</span></div>
        <div class="duration noOverflow">{{ playlist?.videolist | totalduration | duration }}</div>

        <div class="flexSpacer"></div>

        <button class="toolbarBtn miniBtn btnHover" [matMenuTriggerFor]="menu">
            <fa class="menuBtnIco" [name]="'bars'" [size]="2"></fa>
        </button>

        <mat-menu #menu="matMenu" overlapTrigger="false">
            <app-playlist-control [playlist]="playlist" [show]="false"></app-playlist-control>
        </mat-menu>
    </app-toolbar>

    <div class="spacer"></div>

    <div class="scrollContainer plScrollContainer" #pldScrollContainer>

        <!-- Video list -->
        <app-video-list
            *ngFor="let pl of playlistsList; let i = index; trackBy: trackByFn"
            [hidden]="pl.id !== playlist.id"
            [playlistId]="pl.id"
            [videoList]="pl.videolist"
            (videoListOut)="onVideolistChange($event)"
            [config]="getConfig(pl.id)"
            [canAddToPlaylist]="canAddToPlaylist"
            >
        </app-video-list>
    </div>
</div>
