<div *ngIf="hasData" id="playlistDetailsContainer" class="contentPanel">

    <ui-toolbar [height]="'40px'" [margin]="'0 0 0 2px'" [padding]="'0 0 0 15px'">
        <div class="name noOverflow">{{ currentPlaylist?.title }}</div>
        <div class="length noOverflow">{{ currentPlaylist?.videolist?.length }} <span [translate]="'track'"></span><span *ngIf="currentPlaylist?.videolist?.length >1">s</span></div>
        <div class="duration noOverflow">{{ currentPlaylist?.videolist | totalduration | duration }}</div>

        <div class="flexSpacer"></div>

        <button class="toolbarBtn miniBtn btnHover" [matMenuTriggerFor]="menu">
            <fa class="menuBtnIco" [name]="'bars'" [size]="2"></fa>
        </button>

        <mat-menu #menu="matMenu" overlapTrigger="false">
            <app-playlist-control [playlist]="currentPlaylist" [show]="false"></app-playlist-control>
        </mat-menu>
    </ui-toolbar>

    <div class="spacer"></div>

    <div class="scrollContainer plScrollContainer" #pldScrollContainer>

        <!-- Video list -->
        <app-video-list
            *ngFor="let pl of playlistsList; let i = index; trackBy: trackByFn"
            [hidden]="pl?.id !== currentPlaylist?.id"
            [playlist]="pl"
            [canAddToPlaylist]="canAddToPlaylist"
            >
        </app-video-list>
    </div>
</div>
