<div class="itemContainer" [style.height]="height">

    <div *ngIf="movable" class="handle btnHovered">
        <i fa [name]="'ellipsis-v'" [size]="1" class="handle"></i>
    </div>

    <div class="srThumb itemBox">
        <img draggable="false" [src]="video.thumbUrl" alt=""
        [style.height]="imgHeight"
        [style.minWidth]="imgWidth">
    </div>

    <div class="srInfos itemBox" [class.column]="isColumn" [class.row]="!isColumn">
        <div class="srTitle itemText">{{ index }} - {{ video.title }}</div>
        <div class="srDesc itemText">{{ video.channelTitle }} - since {{ video.publishedAt | date:'mediumDate' }} - {{ video.duration | duration }}</div>
        <div class="duration">{{ video.duration | duration }}</div>
        <div class="flexSpacer"></div>
        <!--
        <div class="duration">{{ video.duration | duration }}</div>
        <p class="srDesc itemText flexSpacer">{{ video.description }} </p>
        -->
    </div>

    <div class="flexSpacer"></div>

    <div class="control itemBox">
            <button class="toolbarBtn btnHover" [matMenuTriggerFor]="menu" xPosition="'before'" yPosition="'above'">
                <fa [name]="'bars'" [size]="2"></fa>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Play</button>
                <button mat-menu-item>Add to queue</button>
            </mat-menu>
        <ng-content></ng-content>
    </div>
</div>