<div class="itemContainer" [style.height]="height">

    <div *ngIf="movable" class="handle btnHovered">
        <i fa [name]="'ellipsis-v'" [size]="1" class="handle"></i>
    </div>

    <div class="srThumb itemBox">
        <img draggable="false" [src]="video?.thumbUrl" alt="">
    </div>

    <div class="srInfos itemBox">
        <div class="srTitle itemText">{{ index }} - {{ video?.title }}</div>
        <div class="srDesc itemText">{{ video?.channelTitle }} - since {{ video?.publishedAt | date:'mediumDate' }} - {{ video?.duration | duration }}</div>
        <div class="duration">{{ video?.duration | duration }}</div>
        <div class="flexSpacer"></div>

    </div>

    <div class="flexSpacer"></div>

    <div class="control itemBox">
        <!--
            <button class="toolbarBtn btnHover" [matMenuTriggerFor]="menu" xPosition="'before'" yPosition="'above'">
                <fa [name]="'bars'" [size]="2"></fa>
            </button>
            <mat-menu #menu="matMenu">
                <ng-content select="video-list-item-buttons-menu"></ng-content>

                <button mat-menu-item>Play</button>
                <button mat-menu-item>Add to player list</button>
            </mat-menu>
            <ng-content select="video-list-item-buttons"></ng-content>
            -->
        <ng-content></ng-content>

    </div>
</div>