
.itemContainer {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;

    .handle {
        cursor: move !important;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        &i .handle {
        }
    }

    .control {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        min-width: 100px;
    }

    .itemBox {
        height: 100%;
    }

    .itemText {
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: text;
        cursor: text;
    }

    .srThumb {
        height: 100%;
        margin-right: 20px;
        position: relative;
        img {
            // min-width: 133.328px;
            width: auto;
            // height: 100px;
        }
    }
    .srInfos {
        display: flex;

        &.column {
            flex-direction: column;
        }
        &.row {
            flex-direction: row-reverse;
            width: 100%;
            justify-content: flex-end;
            align-items: center;

            .srDesc {
                display: none;
                flex: 1 1 auto;
            }
            .duration {
                align-self: center;
                margin-right: 10px;
            }
            .flexSpacer {
                display: none;
                flex: 0;
            }
        }

        .srTitle {
            margin: 0 0 5px;
            font-size: 1rem;
            font-weight: 600;
        }
        .srDesc {
            margin: 0 0 5px;
            font-size: 0.8rem;
            font-weight: normal;
        }
        .duration {
            font-size: 0.7rem;
            padding: 2px;
            align-self: self-start;
        }
    }
}
