<div>
    <h2 md-dialog-title>Turntable help</h2>
    <md-dialog-content>

        <div class="tabsNavBox">
            <div class="tabsNavItem" (click)="openTab(1)"></div>

            <div class="tabsNavItem" (click)="openTab(2)"></div>

            <div class="tabsNavItem" (click)="openTab(3)"></div>
        </div>

        <div class="tabsBox">
            <div [hidden]="selectedTab === 1" class="tabsItem">
                Playlist help!
            </div>


            <div [hidden]="selectedTab === 2"class="tabsItem">
                Mix help!
            </div>


            <div [hidden]="selectedTab === 3"class="tabsItem">
                Settings help!
            </div>

        </div>

    </md-dialog-content>

    <!-- Controls -->
    <md-dialog-actions>
        <button md-button (click)="onPreviousTips()" [attr.disabled]="selectedTab === 0">Previous</button>
        <button md-button (click)="onClose()">Close</button>
        <button md-button (click)="onNextTips()" [attr.disabled]="selectedTab === 3" >Next</button>
    </md-dialog-actions>
</div>
