.tabsNavBox {
    position: fixed;
    background-color: white;
    width: 70%;
    // border-bottom: 1px solid lightgray;

    &.active {
    }
}

.tabsBox {
    margin-top: 55px;

    .tabsItem img {
        width: 800px;

        .tabsItemList {
            position: fixed;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            ul li {
                list-style: none;
            }
        }
    }
}

.prevBtn span { margin-left: 10px; }
.nextBtn span { margin-right: 10px; }
