<div>
    <h2 md-dialog-title>Turntable help</h2>
    <md-dialog-content>

        <md-tab-group>
            <md-tab label="Playlist">
                Playlist help!
            </md-tab>
            
            <md-tab label="Mix">
                Mix help!
            </md-tab>

            <md-tab label="Settings">
                Settings help!
            </md-tab>
        </md-tab-group>

    </md-dialog-content>

    <!-- Controls -->
    <md-dialog-actions>
        <button md-button (click)="onPreviousTips()">Previous</button>
        <button md-button (click)="onClose()">Close</button>
        <button md-button (click)="onNextTips()">Next</button>
    </md-dialog-actions>
</div>
