.videosListItem {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /*width: 600px;*/
    justify-content: space-between;
}

#listContainer {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.container {
    width: 100%;
    background-color: #817E7E;
}

.list {
    width: 50%;
    min-height: 100%;
    min-width: 20px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: scroll;
}

li {
    cursor: grab;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: stretch;
}

.item {
    flex-grow: 1;
}

#infoBar {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start
}

.infoBarItem {
    line-height: 24px;
    padding: 5px;
    background-color: #242320;
    margin-right: 5px;
}

.infoBarItem:last-child {
     margin-right: 0;
     flex-grow: 1;
}

.infoBarItem input[type='button'] {
    color: darkgray;
    padding: 5px;
    margin: 0;
    border: none;
    outline: none;
    height: 100%;
    font-size: 1rem;
    background-color: #101010;
    cursor: pointer;
}

.infoBarBtn { padding: 0; }
.infoBarBtn input{ padding: 5px; }
.infoBarItem input.active { color: #25E1DA; }
.infoBarItem input:hover { color: #b2b2b2; }
.infoBarItem input.active:hover { color: #28fff7; }
.listHeader { margin-bottom: 5px; }
.listLeft { margin-right: 2px; }
.listRight { margin-left: 2px; }

.item {
    margin-bottom: 2px;
    background-color: #242320;
}

.output {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
	border: 2px solid #101010;
	border-radius: 5px;
	color: #25E1DA;
	background-color: #504F4C;
	text-shadow: 0px 0px 15px #25E1DA;
}

.addBtn {
    font-size: 2rem;
    cursor: pointer;
	background-color: #101010;
	width: 96px;
	height: 96px;
	margin: 0 auto;
    word-wrap: break-word;
    word-break: break-all;
}

.addBtn input[type=button] {
    font-size: 1.2rem;
    white-space: normal;
	margin: 3px;
	background-color: #50504C;
	border: none;
	width: 90px;
	height: 90px;
	font-weight: bold;
	color: #25E1DA;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(150,150,150,0.6);
	   -moz-box-shadow: inset 0px 0px 10px 0px rgba(150,150,150,0.6);
		    box-shadow: inset 0px 0px 10px 0px rgba(150,150,150,0.6);
}

.addBtn:hover input[type=button] {
	text-shadow: 0px 0px 8px #25E1DA;
    background-color: #5b5b57
}

.addBtn input[type=button]:active {
	text-shadow: 0px 0px 15px #25E1DA;
}

.dropInfos {
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    opacity: 0.4;
    color: black;
    border: 5px dashed black;
    padding: 20px;
    height: calc(100% - 50px);
}

.playlistBtn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 2.25px;
}

.playlistBtn button {
    background-color: #817E7E;
    border: none;
    height: 31px;
    line-height: 31px;
    margin-bottom: 2px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.playlistBtn button .icon {
    width: 22px;
    height: 31px;
}

.playlistBtn button.carret:hover {
    color: #0f5e5b;
}

.playlistBtn button.trash:hover {
    color: #b73535;
}

.playlistBtn button.carret fa {
    margin-left: 5px;
}

.playlistBtn button span {
    font-size: 0.8rem;
}