.appListContainer  {
    height: 100%;

    .appList {
        height: 100%;
    }

    .appListItem {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100%;
        margin-bottom: 10px;

        .itemBox { height: 100%; }

        .handle {
            cursor: move !important;
            padding: 5px;
            display: inline-flex;
            align-items: center;
            &i .handle {
            }
        }

        .controlBox {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            min-width: 100px;
        }

        .itemText {
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: text;
            cursor: text;
        }

        .srThumb {
            height: 100%;
            margin-right: 20px;
            position: relative;
            img {
                // min-width: 133.33px;
                width: auto;
                height: 100px;
            }
        }
        .srInfos {
            display: flex;
            flex-direction: column;

            .srTitle {
                margin: 0 0 5px;
                font-size: 1rem;
                font-weight: 600;
            }
            .srDesc {
                margin: 0 0 5px;
                font-size: 0.8rem;
                font-weight: normal;
            }
            .duration {
                font-size: 0.7rem;
                padding: 2px;
                align-self: self-start;
            }
        }
    }
}
