<div class="playerContainer" [class.playerLeft]="sidePlayer === 'left'" [class.playerRight]="sidePlayer === 'right'">
   
    <div class="playerBox">
        <div class="player">
            <div class="playerLoader" *ngIf="!video"></div>
            <app-youtube-player [width]="300" [height]="200" [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></app-youtube-player>
        </div>
        <div class="activVideo">
            <div *ngIf="!video" class="noVideo">No Video Loaded</div>
            <div *ngIf="video"  class="currVideo">
                <div class="currTitle">{{ video.title }}</div>
                <div class="currTime output">{{ currDuration }}</div>
            </div>
        </div>
   </div>
 
        
       
    <div class="volume control">
        <app-range-slider-2 [name]="'Speed'" [side]="sidePlayer" [default]="1"
                          [value]="speed" (valueChange)="onSpeedChange($event)"
                          [step]="0.25" [min]="0.5" [max]="2" [isPlayerReady]="player && video"></app-range-slider-2>
                          
        <button type="button" (click)="playPauseVideo()">
            <fa *ngIf="!isPlaying" [name]="'play'"  [size]="2"></fa>
            <fa *ngIf="isPlaying"  [name]="'pause'" [size]="2"></fa>
        </button>
    </div>

    <div class="speed control">
        <app-range-slider-2 [name]="'Vol'" [side]="'left'" [default]="100"
                          [value]="volume" (valueChange)="onVolumeChange($event)"
                          [step]="1" [min]="0" [max]="100" [isPlayerReady]="player && video"></app-range-slider-2>

        <button type="button" (click)="mute()">
            <fa *ngIf="!isMuted" [name]="'volume-up'"  [size]="2"></fa>
            <fa *ngIf="isMuted"  [name]="'volume-off'" [size]="2"></fa>
        </button>
    </div>
    
</div>

