
.playerContainer {
    display: flex;
    margin-bottom: 5px;

    &.playerLeft  {
        flex-direction: row;

        >.volume { margin-left: 5px; }
        >.speed { margin-left: 5px; }

        >.currVideo  {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &.playerRight {
        flex-direction: row-reverse;

        .volume { margin-right: 5px; }
        .speed { margin-right: 5px; }

        .currVideo {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }

    /* Player container */
    .playerBox {
        width: 300px;
        height: 239px;;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        .player {
            width: 300px;
            height: 200px;
            margin-bottom: 5px;
            position: relative;

            .playerLoader {
                width: 300px;
                height: 200px;
                margin-bottom: 5px;
                position: absolute;
                color: white;
                background-color: black;
            }
        }
    }

    /* Current video infos container */
    .activVideo {
        width: 300px;
        height: 34px;
        color: lightgray;
        cursor: default;
        background-color: #242320;

        .currVideo {
            display: flex;
            flex-wrap: nowrap;

            .currTitle {
                flex: 1 1 auto;
                padding: 5px;
                height: 24px;
                max-width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .currTime {
                /*width: 46px;*/
            }
        }

        .noVideo {
            line-height: 34px;
            text-align: center;
            opacity: 0.3;
        }
    }

    .output {
        line-height: 24px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 3px;
        padding-right: 3px;
        border: 2px solid #101010;
        border-radius: 5px;
        color: #25E1DA;
        background-color: #504F4C;
        text-shadow: 0px 0px 15px #25E1DA;
    }

    /* Control */
    .control {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        app-range-slider { margin-top: 166px; }

        button {
            border-radius: 0;
            margin-top: 5px;
            border: none;
            outline: none;
            width: 34px;
            height: 34px;
            background-color: #817E7E;
            &:hover { color: #0f5e5b; }
            &:hover:active  { color: #25E1DA; }
        }
    }
}