.playlist {
    height: calc(100% + 3px);
    overflow-y: auto;
    overflow-x: hidden;
}


/* Drop infos */
.dropInfos {
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    opacity: 0.4;
    color: black;
    border: 5px dashed black;
    padding: 20px;
    height: calc(100% - 50px);
}

.videoItem {
    width: 100%;
    background-color: #242320;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.videoItem:not(:last-child) {
    margin-bottom: 2px;
}

.videoControl {
    width: 150px;
}
.mix-videoControl {
    width: 200px;
}

.deleteBtn {
    text-align: center;
    margin-right: 20px;
    top: 25px;
    float: right;
}

.mix-btn {
    text-align: center;
    margin-right: 10px;
    top: 25px;
    float: right;
}

.leftBtn {
    padding-right: 6px;
}

.rightBtn {
    padding-left: 6px;
}