<div id="slider-{{ side }}">
    <div class="sliderBox">

        <!--
        <label for="">{{ name }}</label>
        -->
        <div class="outputBox">
            <div class="output">
            <span *ngIf="name === 'Speed'">x</span> {{ value }}
            </div>
        </div>

        <div class="grpBtn">
            <div class="btn">
            <button (click)="up()"><fa [name]="'plus'" [border]=false [size]="2"></fa></button>
            </div>

            <div class="slider-input-{{ side }}">
            <input class="slider-range" type="range" [(ngModel)]="value" (input)="onInputChange($event)" value="{{ value }}" min="{{ min }}" max="{{ max }}" step="{{ step }}"/>
            </div>

            <div class="btn">
            <button (click)="down()"><fa [name]="'minus'" [border]=false [size]="2"></fa></button>
            </div>
        </div>


    </div>
</div>
