@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    src: url('./assets/fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('./assets/fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('./assets/fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
    url('./assets/fonts/OpenSans-Regular/OpenSans-Regular.svg#OpenSansOpenSans-Regular') format('svg');
}

* {
    font-family: 'Open sans'
}
html,
body { 
  margin: 0;
  padding: 0;
  background-color: lightgray;
  height: 100%;
  overflow: hidden;
  /*
  width: 100%;
  */
}

input:focus { outline: none; }

/* Unglorious hack... */

md-progress-bar {
    z-index: 99999;
}

#menuBtn .ng-trigger,
#menuBtn .ng-trigger-fadeInItems,
#menuBtn .mat-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.mat-tab-header, .mat-tab-nav-bar {
    /*
    border-bottom: 1px solid rgba(0,0,0,.12);
    */
    border-bottom: none !important;
}

.fa-2x {
    font-size: 23px !important;
}

/* Custom material css */
.mat-tab-label {
    height: 32px !important;
    min-width: 100px !important;
}

.mat-grid-tile .mat-figure {
    display: block!important;
}

.decline {
    background-color: green !important;
    color: white !important;
}

.accept {
    background-color: red !important;
    color: white !important;
}

.toolbarBtn .fa-lg {
    vertical-align: -10% !important;
    margin-right: 5px !important;
}

/* */
 .radioBtnGrp {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radioBtn { margin: 5px; }
.labelVisible {
    margin-top: 20px !important;
}

/* input serch filter */
#inputFilter.mat-input-element {
    width: auto !important;
    padding: 2px !important;
    background: white !important;
    margin-top: 0 !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
}
#inputFilter.mat-input-element::placeholder { color: gray !important; }
#inputFilter:disabled { background-color: lightgray !important; }
#inputFilter.mat-input-element::-moz-placeholder { color: gray !important; }
#inputFilter.mat-input-element::placeholder { color: gray !important; }
#inputFilter.mat-input-element::placeholder { color: gray !important; }
