<div class="playerControlContainer">

    <!-- Player progress bar -->
    <app-toolbar class="playerProgressBar" [width]="'100%'" [height]="'10px'" [margin]="'0'" [padding]="'0'">
    <div class="currentTime timeIndicator">
    {{ currentTime | duration }}
    </div>

    <div #progressBar class="flexSpacer progress">
        <div class="progressBG"></div>
        <div class="progressHover" [style.width]="widthOver + 'px'"></div>
        <div class="progressCurrent" [style.width]="progress + 'px'"></div>
    </div>

    <div class="currentDuration timeIndicator">
    <span tooltip="Tooltip" placement="top" show-delay="50" z-index="100">{{ videoDuration | duration }}</span>
    </div>
    </app-toolbar>

    <!--
    <app-player-progress-bar (videoDuration)="videoDuration"></app-player-progress-bar>
    -->

    <!-- Player control -->
    <app-toolbar class="playerControl" [width]="'100%'" [height]="'30px'"
        [margin]="'0'" [padding]="'0'">

        <!-- Replay video -->
        <button *ngIf="true" class="toolbarBtn playerBtn btnHover"
        (click)="replay()">
            <fa [name]="'repeat'" [size]="2" [flip]="'horizontal'"></fa>
        </button>

        <!-- Stop video -->
        <button *ngIf="true" class="toolbarBtn playerBtn btnHover"
        (click)="stop()">
            <fa [name]="'stop'" [size]="2"></fa>
        </button>

        <!-- Play -->
        <button *ngIf="!isOnPlay" class="toolbarBtn playerBtn btnHover"
        (click)="onPlayPause()">
        <fa [name]="'play'" [size]="2"></fa>
        </button>

        <!-- Pause -->
        <button *ngIf="isOnPlay" class="toolbarBtn playerBtn btnHover"
        (click)="onPlayPause()">
        <fa [name]="'pause'" [size]="2"></fa>
        </button>

        <!-- Next track -->
        <button *ngIf="true" class="toolbarBtn playerBtn btnHover" [class.enabled]="hasNext()"
        (click)="nextTrack()">
            <fa [name]="'step-forward'" [size]="2"></fa>
        </button>

        {{ videoDuration }}
        <div class="flexSpacer"></div>

        <button class="toolbarBtn playerBtn btnHover" (click)="muteUnmute()">
            <mat-icon>{{ currentVolumeIcon }}</mat-icon>
        </button>

    </app-toolbar>
</div>

